[2017-07-26 02:44] UShan89 opened #1 "requirements.txt"
@rtgdk I find that there are two requirements file and two src directories.
I need your help with understanding how the repo is structured.

Another tiny request (Personal thoughts): Please do a pip freeze and modify the requirements.txt for `jpype1` and `Django-downloadview`

i.e. lock down to specific versions of the libraries. This will help avoid bugs/deprecations with future versions. Each ti

[2017-07-26 06:41] rtgdk commented on #1
@UShan89  Thanks, I have updated the `requirements.txt` to have specific versions.
Since the online tool uses java tools jar file for its working, we would always need the updated version of the java tool inside the online tool. So we can use `git submodule` for maintaining both the repo without any interference. The current size of the whole repo is about 184 MB with tools taking 138 MB. So I tho

[2017-07-26 16:20] UShan89 commented on #1
@rtgdk  awesome! Thanks :)

[2017-07-26 16:20] #1 closed

[2017-08-05 02:47] goneall opened #2 "Enhancement Request: Add Check License tab to spdx-online-tools"
The online tool https://spdx.org/spdxweb compares license text to the SPDX listed licenses.  It uses a text box input and output a list of matched licenses as a dialog box.

Adding this feature to the spdx-online-tools would allow us to consolidate the tools into one UI (not to mention the UI is better for the spdx-online-tools).

The code is currently implemented as an SPDX servlet, but simply ca

[2017-08-05 10:40] rtgdk commented on #2
@goneall  Sure, go ahead with the Python code.
Yes, it would be better to have all the online tools under one app. I'll create a separate url for this license search and will work on the UI once it is linked with JPype.

[2017-08-05 18:11] goneall commented on #2
@rtgdk I just pulled the latest.  I'll add the Python code and create a pull request

[2017-08-05 20:53] goneall commented on #2
@rtgdk I added the code changes to a branch licensecheck-go, however I was not able to test it on my local machine.  I ran into issues trying to test on my local machine.  They may be JPype related.  The JVM is crashing at JPJavaEnv::GetArrayLength(_jarray*)+0x20.

I also tried the existing validate functionality and terminated the python runtime without any error message.  I wonder if I have a co

[2017-08-06 06:10] rtgdk commented on #2
@goneall  I'll go through the licensecheck code. Can you send the file you tried the validate tool with ?

[2017-08-06 07:06] rtgdk commented on #2
I have update the python code. The JVM Thread was being detached before calling len function on matching_licenses. It works fine now.
But it takes a lot of time( atleast 2 minutes ). When I tried the same on Eclipse, it again took the same amount of time. Whereas the java servlet returned the same result in less than 10 seconds. The input was the whole license text of AFL-1.1 in all the cases. I h

[2017-08-07 06:14] goneall commented on #2
Thanks for finding the bug.  I'll pull the changes tomorrow and check it out.  The performance issue is the licenses being downloaded from spdx.org/licenses website.  This is only done once and cached as a static field in the ListedLicenses class.  I don't know if the caching will work with JPype.  We would want the class to stay loaded in the JVM so that the cached licenses are available for the

[2017-08-07 14:33] rtgdk commented on #2
@goneall  I tested whether there was a cache or not. It took about 3 minutes for the first search. Later on, it didn't take more than 3 seconds. So I guess, the cache is working.

[2017-08-08 01:40] goneall commented on #2
@rtgdk I updated with your fixes and it works reasonably well.  On I am getting subsecond response times on the second request (about 3 minutes on the first search), so the caching is working well.

If you are OK with the code, go ahead and merge the PR.

[2017-08-08 05:05] rtgdk commented on #2
@goneall Merged. I'll just add ajax form submisson and result display in a pop up modal.

[2017-08-08 05:05] #2 closed

[2018-01-20 19:30] goneall opened #4 "Create a mechanism to limit the requests to the online tools"
Programmatic access could put a substantial load on the service if multiple requests are made with high frequency.

Suggest an enhancement to govern the rate at which requests from the same user and/or IP address is made.

This could also apply to the web access.

[2018-01-24 17:47] UShan89 opened #5 "password reset"
Password reset feature would be commendable 🥇 as I love my username

[2018-01-24 17:57] UShan89 opened #6 "Debug - A global flag required to disable it"
`api/check_license` on the online-tools hosted at https://spdxtools.sourceauditor.com/
is how this issue was first found. The debug is turned-on in production and a global setting to disable/enable is required

[2018-01-27 11:44] pombredanne commented on #4
@goneall do you have the problem already or not? If not you may be worrying for nothing?
FWIW, there are throttling things that can be plugged in Django alright

[2018-01-27 18:02] goneall commented on #4
@pombredanne Not a current problem, but it has not been widely advertised (still waiting for the Linux Foundation to provide the server).  Good point on the Django features - this may be an easy solution.  Perhaps someone familiar with Django can create a PR?  This also may be a good first feature for someone new contributing to the tools.

[2018-02-02 17:32] freddy28 commented on #5
Hi @UShan89
I am looking forward to working on this issue.
I can do the password reset functionality manually if you prefer that.
But I did some research and found out that [django-allauth](https://github.com/pennersr/django-allauth) could be helpful.

Please tell me what you think about it, so I know how to proceed.

[2018-02-02 17:46] freddy28 commented on #6
@UShan89 @pombredanne
I might be wrong, but Django already has a `debug` flag that should be changed to `False` prior to deployment.
[code]
If that was done, then please I would like to have more details on this issue, to take this on.

Thanks

[2018-02-02 18:01] rtgdk commented on #6
@freddy28  Yes, this flag is already provided in Django by default in [settings.py](https://github.com/spdx/spdx-online-tools/blob/master/src/src/settings.py)

[2018-02-02 18:07] rtgdk commented on #5
@freddy28  django-allauth password reset functionality works when we use its OAuth to login through social media accounts. Here, we are currently using a simple login through Django user authentication system.

[2018-02-02 18:12] rtgdk commented on #5
So, you can use `django.contrib.auth` to create password reset views and configure SMTP email service to send reset mails. Sending a unique one time link (an expiration to the link would be awesome but not mandatory) to reset password would be needed.

[2018-02-02 18:12] rtgdk commented on #5
So, you can use `django.contrib.auth` to create password reset views and configure SMTP email service to send reset mails. Sending a unique one time link (an expiration to the link would be awesome but not mandatory) to reset password would be needed.

[2018-02-02 19:18] freddy28 commented on #5
@rtgdk
Ok, THanks for the feedback. On it.
Expect a PR one of these days.

[2018-02-02 19:21] freddy28 commented on #6
@rtgdk
Ok,
In that case, can I have more details on the issue. I don't quite understand what the issue is about.

[2018-02-03 18:51] freddy28 commented on #5
@rtgdk
I am currently working on this feature, and I would like to have an spdx source email address and password, to be used as our email service. I am currently testing this with my email address and I can't make a PR with that.

[2018-02-03 18:58] rtgdk commented on #5
@freddy28
You can test it locally with your credentials and in the PR leave the fields blank.
This way anyone can test your work and also add spdx credentials in production once the PR is merged.

[2018-02-03 19:01] freddy28 commented on #5
@rtgdk
Ok good.

[2018-02-04 09:18] rtgdk opened #7 "Include drag and drop file method"
Drag and drop file method to upload would make the UX more friendly. The user should also be able to use default browse-and-select file by clicking on the drag and drop tile.

You can take inspiration from gmail's drive upload button.
![capture](https://user-images.githubusercontent.com/17159160/35776016-73067cb6-09ba-11e8-9018-eaab7ee1e0cb.PNG)

[2018-02-04 09:29] rtgdk opened #8 "Add one more option for TagToRdf conversion."
TagToRdf takes max 3 arguments. See [here](https://github.com/spdx/tools/blob/master/src/org/spdx/tools/TagToRDF.java)
This third argument is for desired output format. ("RDF/XML-ABBREV"; "RDF/XML"; "N-TRIPLET"; "TURTLE").
Default format should be "RDF/XML-ABBREV".
You can include this output format drop down field in the [convert form](https://github.com/spdx/spdx-online-tools/blob/master/src/app

[2018-02-04 09:39] rtgdk opened #9 "Files sent to api is saved twice"
In api, create model function is saving the files twice. So files sent to api is saved to 2 folders
- media/api/< username >/< time > --> (Saved by views.py)  [used by the api to call spdx java tool]
- media/apifiles/< username >/< time >  (Saved by models.py) [returned to the api user as json]

Figure out the bug and modify the code to save the file once, use that file for calling the spdx java t

[2018-02-04 09:45] rtgdk opened #10 "API for check license method"
Implement an api for check license method. Take a file as an input, parse it to send the text as a parameter to the spdx java tool function.

To implement the api, take inspiration from [here ](https://github.com/spdx/spdx-online-tools/blob/24745d8ab0a3b46830c378202044276c1b414a91/src/app/views.py#L694)and [here](https://github.com/spdx/spdx-online-tools/blob/24745d8ab0a3b46830c378202044276c1b414a

[2018-02-04 13:22] freddy28 commented on #5
@pombredanne @rtgdk
Here is the PR #11

[2018-02-06 20:30] freddy28 commented on #5
@rtgdk @pombredanne
I have updated the #11 .
The link now has an expiration duration of 3 days:
`PASSWORD_RESET_TIMEOUT_DAYS = 3`

[2018-02-07 15:39] UShan89 commented on #6
@freddy28 having debug flag is an insecure operation for production. There are python packages and browser addons that could be leveraged for unexpected actions from an end user.

Here is one scenario that would definitely worry me. https://pypi.python.org/pypi/django-debug-toolbar.

If this package (say was available) then a client (Browser) can be used to make changes to almost everything.

[2018-02-07 15:40] UShan89 commented on #6
The idea is to make everything run without debug (Unless specifically asked)

[2018-02-09 21:26] goneall commented on #6
I updated the debug flag to False on the production environment.

Propose we update the settings.py in the repo to set debug to False.  When running it on local systems during development, you can override the settings to True.  This would make it less likely we accidentally leave debug on in the production environment.

[2018-02-12 08:27] freddy28 commented on #7
@rtgdk I am on this one

[2018-02-12 08:50] rtgdk commented on #7
@freddy28 Sure. Go ahead. 👍

[2018-02-15 15:47] #6 closed

[2018-03-11 15:57] techytushar opened #14 "Create a Docker Image"
It would be great if there is a Dockerfile and the user can just build a Docker image and use the platform locally.

[2018-03-11 16:36] techytushar opened #15 "Display loading bar when a process is running"
It would be great if there is a loading bar displayed when a process is running and even better if we can show the progress also.

[2018-03-12 09:39] susg commented on #10
I would like to work on this issue.

[2018-03-12 10:12] rtgdk commented on #15
That's a nice idea. But how would we get, how much % of work has been done by the java tools to process the file. If you intend to display, just a random process bar we can workout how much time it usually takes to process file(s) in validation/conversion/comparison and according to that, we can display a more relevant process bar.
Also, in comparison of multiple files, we can modify the java tool

[2018-03-12 10:13] rtgdk commented on #10
You are welcome to do so. Ping me if you face any problem.

[2018-03-12 10:17] rtgdk commented on #14
Well for using the platform locally, there is already the [java tools](https://github.com/spdx/tools/) providing many more functionality. I don't see any point of using the "online" tools locally. Moreover, we have already built an API so the user won't even need to install anything.

[2018-03-12 11:42] susg commented on #10
yeah, sure.

[2018-03-12 15:03] techytushar commented on #14
fully agree, my bad :sweat_smile: , should i close this then?

[2018-03-12 15:17] rtgdk commented on #14
Done.

[2018-03-12 15:17] #14 closed

[2018-03-13 16:16] techytushar commented on #9
i would like to work on this :slightly_smiling_face:

[2018-03-14 04:17] rtgdk commented on #9
Deleting the file has an overhead. It will overall slow down the API process for the user. Also, while in production it is not recommended. If you are proposing that we delete the file not when the query is going on, but once a day/week randomly at a specified time, then it can be done. But it will require the use of `crontab` or something similar. Again this will require some modification while i

[2018-03-14 04:18] rtgdk commented on #9
Also while building the tool, I kept in mind about this bug. That's why I used the time field to separate similar files uploaded by the same user. So, it won't interfere with the processing issue.

[2018-03-15 13:03] techytushar commented on #9
If we save the file using models then we will not be able to get the `status` and the `message` field as they are generated at the end.
Why do we need to store the file in `apifile` folder we can just store the input and result file in the `api` folder and use them.. :thinking:

[2018-03-16 10:37] rtgdk commented on #9
We would need to return the result to the user. For this, how to plan to link the uploaded file from views.py to be returned to the user. (models.CharField?)

We can get the saved model data by querying and then update the status and message fields and then return to the user.

[2018-03-17 12:06] yugeshk commented on #10
Contrary to the App style, the API would probably require a text file for license. So should the API call save the file it receives?

[2018-03-18 04:41] yugeshk commented on #10
Oh sorry. Didn't see another PR for the same. :sweat:

[2018-03-18 06:02] rtgdk commented on #10
@yugeshk  Yes. We would like to save the file for now.

[2018-03-21 11:39] susg opened #20 "Update .gitignore to ignore .DS_store"
In macOS, temp/junk file named `.DS_Store` is created that stores custom attributes of its containing folder. Update gitignore to ignore such files.

[2018-03-22 06:05] rtgdk commented on #20
Go ahead to solve this. Also, check out if gitignore file is something other than this.

[2018-03-22 10:32] techytushar commented on #7
if anyone is not working, i would like to work on this. :blush:

[2018-03-22 11:51] susg commented on #20
I could not find anyting else that should be ignored as of now. If I get I will update it.

[2018-03-22 16:32] wking commented on #20
This sort of thing is specific to the user environment, not the project.  I think the cleanest solution to that is to add it to your personal or system `gitignore` (e.g. `$XDG_CONFIG_HOME/git/ignore`, see `gitignore(5)`).  That protects all of your projects, without adding per-projects entries that users on other platforms don't need.

[2018-03-23 03:18] rtgdk commented on #7
@freddy28  Have started some work on it but no update in the last 12 days.
Although there is much work to be done on his PR, you can check his work out.
@techytushar  If you plan to implement this feature in any other way, you are welcome to do so.

[2018-03-23 13:36] techytushar commented on #9
this issue can be closed now :relaxed:

[2018-03-24 18:44] techytushar opened #23 "Add CAPTCHA to online forms"
This can be a small step towards #4 .

[2018-03-25 13:58] rtgdk commented on #23
Filling out CAPTCHA for every request is not a good experience for the user.
Explain how you would like to implement the CAPTCHA to ensure good experience and good security.

[2018-03-25 14:18] #9 closed

[2018-03-25 14:18] #8 closed

[2018-03-25 15:42] freddy28 commented on #7
@rtgdk Please review #12 . It contains the first version to solving this issue.

[2018-03-26 09:34] #10 closed

[2018-03-26 20:19] techytushar commented on #23
i am thinking of using the Google's reCaptcha tool, i have used it many times on websites and it only prompts the user to mark the captcha when he is sending many requests again and again.

[2018-03-31 03:17] techytushar opened #24 "Adding support for Python3"
When I try to run the app with `Python 3.5.2` the following error occur:
1. `except jpype.JavaException, ex` is not supported can be changed to `except jpype.JavaException as ex`
2. `from models import` gives `Import error` can be changed to `from api.models`
3. `from urlparse import urljoin` also gives `import error` as there is no module named `urlparse` in Python3 it has been changed to `urllib

[2018-04-01 18:06] rtgdk commented on #24
Although Django 1.11 is the LTS version, which will be supported for around 3 years. We can create a separate branch to work on Python 3 with Django 2. This would be a good head start.

For 4th, we can use https://pypi.python.org/pypi/JPype1-py3 , although it is technically in development phase. BTW jpype requirements suggest using Python2.7+, so I think it should work fine with python3.6 . What i

[2018-04-02 17:53] techytushar opened #27 "Use the scancode toolkit for check license function"
As suggested by @pombredanne using the scancode-toolkit for check license function would be better, instead of using the Java function and it is also in the TODO list. @goneall  @rtgdk Please give your views

[2018-04-02 19:11] goneall commented on #27
I don't believe that Scancode complies with the SPDX [license matching guidelines](https://spdx.org/spdx-license-list/matching-guidelines).  Since this is an SPDX tool, the license matching should comply with the guidelines.  If Scancode does not comply, the Java tools should be used to fully check if license text matches.

There is, however, a performance issue with any tool fully complying with

[2018-04-24 05:06] #20 closed

[2018-04-24 05:07] #5 closed

[2018-05-20 12:25] #7 closed

[2018-08-06 10:15] silverhook opened #40 "Rename “XML Editor” to “License XML Editor” to clarify its intended use (was: Add support for other valid extensions)"
<del>

Currently it seems the upload (to XML Editor at least) only accepts files with an `*.xml` extension.

According to §1.6.9 of the [SPDX Specification 2.1][spec] it

So while `*.spdx` for tag-value and `*-spdx.rdf` are not a required naming, they are conventions that the SPDX Online Tools should at least support.

</del>

<ins>

As explained by @goneall in the first comment below, the underly

[2018-08-06 17:33] goneall commented on #40
@silverhook The XML editor is designed to support the license list XML (https://github.com/spdx/license-list-XML), not the SPDX documents.  To make this clear, we should rename "XML Editor" to "License XML Editor"

[2018-08-07 07:31] silverhook commented on #40
@goneall, ah, that explains a lot :) My bad for missing that detail. I think the renaming would be a good solution to the actual underlying problem.

I will rephrase this issue accordingly.

[2018-09-01 06:08] techytushar opened #44 "Add tests for Split View of XML Editor"
It would be nice to have some test cases for the Split View of the XML Editor. They can be similar to the Tree Editor tests. One additional thing that can be tested is the syncing between the tree and text editors.

[2018-09-01 06:20] techytushar opened #45 "Pretty Printing is lost in text editor when tree editor is used"
When switching from text editor to tree editor and back to text editor the pretty printing is lost i.e. the newline and whitespace characters are deleted.
**Before**
![screenshot from 2018-09-01 11-39-49](https://user-images.githubusercontent.com/26834658/44943067-136ba700-addd-11e8-8fac-c4c7cd810c77.png)
**After**
![screenshot from 2018-09-01 11-39-57](https://user-images.githubusercontent.com/26

[2018-09-15 07:41] techytushar opened #47 "Merge the xml-editor and license-submittal branch into master"
The xml-editor and license-submittal branch should be merged into master so that the user can make use of all the features of the website.

[2018-09-30 19:46] #47 closed

[2018-09-30 19:47] #27 closed

[2018-10-01 16:16] goneall opened #50 "Missing dependency"
While installing the online tools on the server, I am getting the following error:

[code]

@rtgdk @gaalocastillo  - If you could let me know if there is a missing requirement

[2018-10-01 17:00] goneall opened #51 "Missing table after updating server software"
I'm getting the following error when accessing the new license request module:

[code]

I ran the makemigrations and migrate django commands, but no updates were applied.

@rtgdk @gaalocastillo Let me know if you have any suggestions.

[2018-10-02 07:50] rtgdk commented on #51
I am not facing this problem. Can you please check whether there are only two files -  `0001_initial.py` and `__init.py__` in the `src/app/migrations` folder. https://github.com/spdx/spdx-online-tools/blob/master/src/app/migrations/0001_initial.py. If not, clone the master branch with latest commit. Also, you don't have to run makemigrations command as the latest commit already contains the migrat

[2018-10-02 17:55] goneall commented on #51
It looks like there is an additional file 002_licensenames.py.  I'll see if I can get thing re-initialized.

[2018-10-02 22:08] goneall commented on #51
I wasn't able to resolve the issue, but I worked around it by creating a new PostgreSQL database which is more suitable for production.

[2018-10-02 22:08] goneall commented on #51
Since this is likely isolated to the production testing and not a general issue, I'm going to go ahead and close it.

[2018-10-02 22:08] #51 closed

[2018-10-02 22:32] goneall opened #52 "Error submitting XML in production server"
I'm thinking this may be due to an incorrect version on the dependencies.

@techytushar @rtgdk Can you take a look and let me know if you have any thoughts on debugging?

Below is the stack trace:

[code]

[2018-10-03 16:46] goneall commented on #52
Did a bit of debugging.

There is a `social_auth_pipeline` configured in the setting.py at line 123.

At index 6, the module `app.utils.save_profile` is listed.

This The save_profile method could not be found in the method.

I suspect this may be related to merging a directory named util and the file util.py in the app directory.

I'll so some experimenting to see if I can resolve it.

[2018-10-03 17:11] goneall commented on #52
Created a pull request which fixes this issue in production.

[2018-10-04 16:15] goneall opened #54 "Submit new license - use github username of logged in user"
Currently, it uses the github user configured in the application (goneall)

[2018-10-04 16:38] goneall opened #55 "XML file upload fails if there are any spaces in the file name"
To reproduce, go to the XML editor, select upload file, enter a file name that contains a space.

The space is converted to "%20" for the file reference, so the file is not found (e.g. `ignore-me (1).xml` is referred to as `ignore-me%20(1).xml`).

[2018-10-04 22:56] #55 closed

[2018-10-06 05:30] #52 closed

[2018-10-09 01:35] rtgdk opened #57 "Migrate to Django 1.11.15"
A potential security vulnerability was found in the current Django version.

[2018-10-09 01:39] rtgdk opened #58 "Migrate to Django 2.1"
Similar issue #24

Upgrade the codebase to Python 3 and Django 2.1.
Some work is already done in https://github.com/spdx/spdx-online-tools/tree/python3

[2018-10-18 19:19] nezhar opened #63 "Tests failing. CI missing"
There are certain test cases that break currently. It would be great to add Travis CI or something similar to test each new commit.

Would it make sense to add a code style check? I can recommend [pycodestyle](https://pypi.org/project/pycodestyle/)

[code]

[2018-11-01 16:51] goneall commented on #54
Based on the legal call on 1 Nov 2018, we will require a github user for the submitter.  We can use the same mechanism we use for creating the pull request to require the user to login and submit the issue from that github user's account.

[2018-11-01 20:45] jlovejoy opened #64 "Submit new license: change Notes field"
Can we rename the "Notes" field to "Comments" and make the text box bigger, and move it to the bottom of the form?

"Notes" are an official field in the SPDX License List, but I don't think that is really needed at this point in the process.
 We do need and want to enable a place for longer comments, as people often include in the current email submission, e.g., where the license is used should be

[2018-11-01 20:46] jlovejoy opened #65 "Submit new license: add question re: license author/steward"
Can we add a question as follows:

"Are you the license author or do you represent the license author or steward?"
with yes/no options for answer

[2018-11-01 20:47] jlovejoy opened #66 "Submit new license: add question re: OSI submission"
Can we add a question as follows:

"Have you submitted this license to the OSI or are you planning to? (if yes, use comments to explain)"
with a yes/no option for answer

[2018-11-14 19:00] #57 closed

[2018-12-13 17:13] jlovejoy commented on #66
possibly could implement in exisitng question; change the question to "OSI status?" and then add in drop-down options, "approved", "not submitted", "submitted, but pending", "rejected"

[2018-12-13 17:19] jlovejoy commented on #65
modify above to: Who is the license author or license steward? (please provide contact info)
and then a text field

[2018-12-13 22:52] jlovejoy opened #69 "Submit new license tool issue: getting error when I submit"
I keep getting an error when I try to submit a new license. @goneall  thinks it may be an issue with an international character. I tried pasting the license text into a text file and converting to plain text - same issue. I've also tried with both Firefox and Chrome browsers (on a Mac) and have same issue:

![image](https://user-images.githubusercontent.com/5048659/49972502-22d7b180-feef-11e8-8b01

[2018-12-14 23:20] goneall commented on #69
I am able to duplicate the problem putting the character `â` in the license text.

[2018-12-14 23:37] goneall commented on #69
@pombredanne  @rtgdk - as someone much more practiced in Python, any ideas on a fix?

I found these related posts:

https://stackoverflow.com/questions/45884193/xml-etree-elementtree-throwing-unicodedecodeerror-while-parsing

https://bugs.python.org/issue9692

https://docs.python.org/2/howto/unicode.html

[2018-12-15 21:05] techytushar commented on #54
@goneall I guess this can now be closed !!

[2018-12-18 17:08] goneall opened #72 "New travis script failing due to missing secret file"
The following error is being reported by the Travis script:

[code]

This is due to the file containing the github secret info being missing.  I don't believe the current unit tests use the secrets, so may be able to get away with creating a set of fake credentials in a src/src/secret.py file to get around this issue.  Another approach would be to use encrypted environment variables to store the c

[2018-12-18 17:12] techytushar commented on #72
IMHO making a fake credentials file would be a better approach so if anyone tries to run the project he should not have to create the file, he can just replace the values.

[2018-12-18 18:14] techytushar commented on #66
@goneall This can be closed as it has been fixed

[2018-12-18 20:18] #66 closed

[2019-01-10 06:41] techytushar commented on #64
Should the notes field be also changed on the `license_requests` page and in the downloaded XML file?

[2019-01-10 06:47] techytushar opened #76 "Add edit xml button on license requests page"
We can add a `Edit XML` button besides the `Download XML` button on the `license_requests` page which would open the XML file in the editor so that the user can edit it further. Will that be a good idea @goneall @rtgdk

[2019-01-10 16:52] jlovejoy commented on #64
@techytushar  - good question... I'm not sure what you mean by license_requests page and in the downloaded XML file though.
The Comments in the submission form will only be needed for the review process. In other words, "comments" is not a field that maps to the final license information that is added to the SPDX License List

[2019-01-10 16:58] jlovejoy commented on #64
another alternative here would be to simply add a new field for Comments; and leave Notes and I can add documentation as to what to put there. Maybe this is easier, especially if Notes is already mapped to other output?

[2019-01-10 19:03] goneall commented on #64
I would have the "comments" just be included in the issue and the database and not include it in the XML.  I'm thinking that the comments would just be related to the submission and not necessary intended to be part of the permanent license list data for the license.  We can always manually add the comments to the existing notes field using the XML editor.

[2019-01-10 19:06] goneall commented on #76
@rtgdk I need to go back through the workflow.  There are 2 scenarios, one where a member of the legal team is submitting a license request and another submitter when someone outside the legal team is submitting.  For the former, I think having a button to go directly to the XML editor would make the workflow easier and faster.  For the latter, they probably would not edit the XML since they would

[2019-01-11 21:49] jlovejoy commented on #64
@goneall - I think I confused things here, but we are headed back around in the right direction. The point of having a "comments" (free text field) in the Submission form is to allow for any additional information about the license or why someone is requesting it, like where it is used. The current license submission form does not have room for that, but it is an important aspect. I don't think it

[2019-01-11 21:55] jlovejoy commented on #76
so are you thinking to add a "edit XML" button on this page: http://13.57.134.254/app/license_requests/ (in the list) or on the specific page for the license itself? i.e., http://13.57.134.254/app/license_requests/11/

Would this "edit xml" button take you automatically to the XML Editor tool and functionality?

[2019-01-16 23:55] tjasmith commented on #76
@techytushar @goneall @jlovejoy
Is it Ok if I work on this issue/enhancement? Or do you have a more pressing and important issue which you want me to work on?

[2019-01-17 07:13] techytushar commented on #76
@jlovejoy Yes, the idea is to display the `Edit XML` button on this page: http://13.57.134.254/app/license_requests/11/ which will take the user to the XML Editor with the text of that license prefilled.

[2019-01-17 20:20] goneall commented on #76
@tjasmith I think this would be a good enhancement to work on

[2019-01-18 12:48] tjasmith commented on #76
@goneall. On it !

[2019-01-20 20:08] goneall opened #80 "Update django version"
There is a minor security vulnerability in django version 1.11.18.  We should upgrade to django ~> 1.11.18.

Note: related to issue #58

[2019-01-20 20:10] goneall opened #81 "Add archive new license request"
Currently, all license requests are displayed after being submitted.  At some point, the number of license requests may become overwhelming.

Suggest adding an archive feature where you can archive an existing license request.  This could be a button on the submitted license list page that would be enabled when a license request is highlighted. It would be moved to an archive category which can ha

[2019-01-20 21:40] abhishekspeer commented on #80
Hey @goneall, Can I start working on this issue?

[2019-01-20 22:49] Ugtan commented on #80
The current verion of django is 1.11.16 so, i believe the security vulnerability is in that particular version and it should be upgraded to 1.11.18 or greater but less than 1.12.
Also, how about considering requires.io for tracking security updates like these? @goneall

[2019-01-22 04:23] Ugtan opened #83 "Travis build fails with 'geckodriver' executable needs to be in PATH error"
Travis build fails with the `WebDriverException: Message: 'geckodriver' executable needs to be in PATH` error due to firstly, geckodriver not being installed and secondly, geckodriver executable needs to be in PATH variable.
![travisbuild](https://user-images.githubusercontent.com/32966387/51512326-75c85100-1e2b-11e9-8f70-ab228e8ab3cd.jpg)

[2019-01-27 18:55] #72 closed

[2019-01-27 18:55] #83 closed

[2019-01-28 10:11] #80 closed

[2019-01-28 12:55] abhishekspeer opened #85 "Add Python Decouple"
### Description
Python Decouple strictly separates the settings parameters from the source code. It adds parameters related to an instance of the project into a seperate .env file. All the environment-specific parameters (secret key, user, passwords, debug status and hosts to mention a few) can be kept into and changed from a single configuration module. Also, It enables changing parameters withou

[2019-01-29 17:22] rtgdk commented on #85
Looks good. But how will it fix the need to maintain a `secret.py` file? We would still need to mention this in readme that the developer should setup up this env file to run the app.
I agree that keeping the env variable and other secret keys in a separate env file is good  and there is no harm in adding this dependency (as env file is not being committed) [Which we can make sure by not committin

[2019-01-30 07:37] techytushar opened #87 "Add a default 404 and 500 template"
Add a basic template showing a 404 and 500 error when the user enters an invalid URL or there is some error.

[2019-01-30 07:43] Ugtan commented on #87
I would like on this issue

[2019-01-30 07:52] techytushar commented on #87
hey @Ugtan I appreciate your enthusiasm, but you already have 2 PRs open, I would suggest you to complete them first then pick this one up.

[2019-02-01 20:01] bitnotri commented on #87
So the goal is to extend the basic templates we have at `app/templates/404.html` and `app/templates/500.html` ? With `Debug=False` those work, although static files need to be deployed with `collectstatic` for bootstrap to work properly.

[2019-03-03 03:26] goneall commented on #76
@tjasmith contributed a solution with PR #79 which has been deployed

[2019-03-03 03:26] #76 closed

[2019-03-05 07:54] #40 closed

[2019-03-06 20:40] tjasmith commented on #4
@goneall @pombredanne
I shall start working on this.

[2019-03-07 13:52] Ugtan commented on #23
@techytushar @rtgdk @wking So instead of adding a google recaptcha just implement the solution stated by wking above to solve the issue or the other way?

[2019-03-08 18:10] Ugtan opened #91 "Add support for documenting API"
Although, the wiki [here](https://github.com/spdx/spdx-online-tools/wiki/REST-API-Fields-Request-and-Response) is enough to interact with the API but adding a support for [API documentation](https://www.django-rest-framework.org/topics/documenting-your-api) will help people new to the repo, understand what the API can do without access to source code. It will also help them to see all the API endp

[2019-03-08 18:11] Ugtan commented on #91
If it sounds good to you, i would like to add PR for the same. Thanks

[2019-03-11 10:34] rtgdk commented on #91
Looks a good idea to me. Keep the module library as little as possible. Do not include unnecessary python modules for creating documentation and snippets. Use the DRF built-in docs api wherever possible.

[2019-03-11 17:11] Ugtan commented on #91
I have actually tried using a [third party module](https://github.com/axnsan12/drf-yasg) and not the build in docs api. I think it is better than the coreapi(as it supports swaggerui and redocs view as well). Please have a look and let me know if i should proceed with it or not. Also, if it doesn't work out we can switch to the default one.

[2019-03-12 17:31] goneall opened #93 "Add versioning information to the application"
Since we are now deploying multiple versions of the app, we should add a version to the application and display the version in the about page. It would also be nice to display the version of the SPDX tools used in the backend as well.

[2019-03-12 17:35] goneall commented on #65
This has been merged and deployed.  Thanks @ekongobie for the contribution!

[2019-03-12 17:35] #65 closed

[2019-03-12 17:36] goneall commented on #64
This has been merged and deployed.  Thanks @ekongobie for the contribution!

[2019-03-12 17:36] #64 closed

[2019-03-12 17:38] goneall commented on #63
This has been merged and deployed.  Thanks @techytushar !

[2019-03-12 17:38] #63 closed

[2019-03-12 17:46] rtgdk commented on #93
Totally agree with you. We should also keep track of the major changes done during the development of a version (both java and online-tools).
Ideas I can think of right now:
1. Using `settings.py` file for maintaining the current version
2. Using git tag to mark commits to a specific version and use GitHub releases feature.
3. Having a wiki where we maintain changes done in a version.
I am open to

[2019-03-12 18:12] techytushar commented on #93
We can also use Milestone on GitHub to set feature requests for further versions.

[2019-03-12 20:45] abhishekspeer commented on #93
@goneall @rtgdk @techytushar Can I work on this issue?

[2019-03-13 16:38] rtgdk commented on #93
@abhishekspeer  Sure go ahead!

[2019-03-15 19:38] techytushar opened #94 "Convert mouse pointer on hover"
On the `/app/license_requests/` and `/app/archive_requests/` page, the mouse pointer should change to finger when the user hovers over the table items (license names) so that he knows that the items are clickable. In the current version it feels like they are just for displaying the info and not clickable. There can also be some sort of highlighting on mouse hover.

[2019-03-16 05:17] ithompson4 commented on #94
Hello @techytushar. Can I work on this problem?

[2019-03-16 07:18] techytushar commented on #94
Sure, go ahead :+1:

[2019-03-16 07:54] tjasmith commented on #4
@rtgdk @goneall @pombredanne
If that is fine by you; I would like to use this: https://django-ratelimit.readthedocs.io/en/stable/

[2019-03-16 17:53] goneall opened #95 "Make the issues URL for license submittal configurable"
Currently, the URL for the license issues is hardcoded to point to the SPDX license list (https://github.com/spdx/license-list-XML/issues).  The tests are now using a test repository: https://github.com/spdx/TEST-LicenseList-XML/issues

If we could move this URL to the settings file, we could put the https://github.com/spdx/TEST-LicenseList-XML/issues URL as the default and we can replace it with

[2019-03-16 17:58] ekongobie commented on #95
Can I take this up?

[2019-03-16 18:13] goneall commented on #95
@ekongobie yes, thanks

[2019-03-16 19:37] tjasmith commented on #4
@goneall @pombredanne
I have sumitted a [PR](https://github.com/spdx/spdx-online-tools/pull/96) for this issue.

The license sumission is reduced to 100 per hour by a particular user.
When the limit is reached, the modal below is shown.
![quota2](https://user-images.githubusercontent.com/45538048/54480556-23ebe800-482a-11e9-985f-dd3a10f404ef.png)

[2019-03-17 00:30] ekongobie commented on #95
@goneall @pombredanne I have submitted a PR for this issue.

[2019-03-17 18:07] goneall commented on #95
Resolved by PR #97 Thanks @ekongobie !

[2019-03-17 18:07] #95 closed

[2019-03-18 00:58] goneall commented on #64
The notes are actually being added in the XML and not in the issue - I'll open a separate issue to change this behavior.

[2019-03-18 01:02] goneall opened #98 "Change the comments field to report the comments in the issues and not include in notes"
Currently, when you submit a license, the comments are included in the notes section of the XML.

The legal team would like to include the comments in the Issues submitted to the license-list-XML repo and not include it in the `<notes> ... </notes>` section of the XML.  We'll reserve the notes section of the XML for legal team use.

[2019-03-18 01:06] goneall opened #99 "Change default sort order for the submitted licenses to submission date"
Current default sort order is by name.  Sorting by date most recent first would be helpful in finding the most recent licenses.

[2019-03-18 01:11] goneall opened #100 "Improve automatic XML formatting of license submittal text"
Currently, when converting a submitted license to XML the text is formatted by putting a paragraph tag around every line break.

Many copy/pastes have line breaks due to text editor and the lines are not really on paragraph boundaries.

A better algorithm would be to put paragraphs when there are 2 line breaks in a row (e.g. a blank line).

[2019-03-18 01:16] goneall commented on #100
@myndzi wrote a JavaScript tool to convert text to XML - although I don't know if it matches the current schema.  You may be able to get some ideas on implementation from his work (licensed under MIT).

He also converted bullets and a few other useful items to XML.

[2019-03-18 01:17] goneall commented on #100
@jlovejoy Let us know if you have any other suggestions for formatting the XML.

[2019-03-18 07:32] Ugtan commented on #98
@goneall So, just leave the notes in xml as empty string for now?

Also, I would like to work on this issue.

[2019-03-18 09:05] #81 closed

[2019-03-18 17:08] goneall commented on #98
Yes

Great - thanks!

[2019-03-18 23:06] ithompson4 commented on #94
Hello @techytushar.
I was able to run the app and populate app_licensenames db table. But when I open `/app/license_requests/` and `/app/archive_requests/ pages`, the tables are empty. How can I populate the database tables? Thanks.

[2019-03-19 05:09] Ugtan commented on #94
One and the easy way would be to run the command ``` python manage.py loaddata ./app/testFiles/licenseRequests.json ``` as given [here](https://github.com/spdx/spdx-online-tools/tree/master/src/app/testFiles) or else just create data in database.

[2019-03-19 06:43] ithompson4 commented on #94
Thanks, it worked.

[2019-03-19 08:16] ithompson4 commented on #94
Could you please confirm that for the clickable fields under the columns Fullname, Short Identifier, License author name, and Submission Date (UTC) the pointer should be changed to a finger when it hovers over them.
Also, that each of those clickable fields should be highlighted when hovered over.

[2019-03-19 11:37] rtgdk commented on #94
@ithompson4 You can also use super admin Django feature to add your own licensename data rows. Also, we want that the mouse pointer should  be changed to `hand` (like when we hover over any link on google) and the hovered data row should be highlighted slight differently that the rest of the rows.

[2019-03-20 01:38] ithompson4 commented on #94
I also noticed that on the `app/archive_requests/` page when I click on the `Unarchive` button, the “Unarchive” text is underlined in red.
Is it a potential bug? Or does it work as designed? Can I raise an issue? Thanks.

[2019-03-20 07:03] rtgdk commented on #94
@ithompson4 I didn't notice the above bug. Can you please paste a screenshot of it?

[2019-03-20 07:18] ithompson4 commented on #94
![Screenshot](https://user-images.githubusercontent.com/16367007/54665946-dcca5500-4abe-11e9-8c55-446b499a1af0.png)

[2019-03-20 07:26] rtgdk commented on #94
Oh okay, now I understand the problem. The Archive/unarchive button is actually <input> not <button>, that's why there's a cursor in between the text when clicked. And chrome shows red spell checker under Unarchive. @ithompson4 Can you please fix this?

[2019-03-20 07:30] ithompson4 commented on #94
Yes, Ok I will fix it.

[2019-03-20 17:02] #98 closed

[2019-03-20 18:11] Ugtan commented on #93
@abhishekspeer Are you still working on this issue? if not, i would like to work on it.

[2019-03-20 18:21] Ugtan commented on #94
My bad, It was not showing on my browser as i have unchecked check spellings. So, i was getting it. Sorry bout that.

Please.

[2019-03-20 19:02] abhishekspeer commented on #93
Thanks for asking @Ugtan
I had my University exams earlier. I’m working on it right now and will submit a PR soon. Thanks again. :)

[2019-03-20 19:06] Ugtan commented on #93
No issues 😊 @abhishekspeer

[2019-03-21 07:00] rtgdk commented on #91
@Ugtan You can try using this one. Still I would prefer using the default one provided by DRF, since a new third party module will add new maintenance checks. Go for the third party one and lets see if it is worth it.

[2019-03-21 07:03] Ugtan commented on #91
@rtgdk I tried using the default

[2019-03-22 22:26] jlovejoy commented on #100
This may need to be broken out to multiple issues, but here's a list:

- paragraph tags are being added for every line if the requestor has copied from fixed line text (like a .txt file). When I copied from a webpage, this didn't happen - it mostly put the paragraph tags in the right place, although also added extra ones for blank lines
- is there any way to create the .txt file automatically when

[2019-03-22 22:29] jlovejoy opened #105 "license submit: display of input in Github issue"
If a field is left empty in the submission form, could we still have the heading for the field (e.g., "Standard License Header") appear in the auto-generated issue so we know more easily that was left blank?

[2019-03-22 22:30] jlovejoy opened #106 "license submit: instructions for fields/form"
is it possible to add some instructions at the top of the page?

similarly, could we add hints for how to fill out some of the fields - maybe via a popup or via some text in the field that disappears when you then start typing?

[2019-03-23 17:00] techytushar commented on #106
IMO, before each input field we can add a small :question: icon, hovering on which, will display more info about that field.

[2019-03-23 17:12] techytushar opened #107 "Archive button only visible to logged in users"
Currently the Archive button on the `license_requests/` page and Unarchive button on the `archive_requests/` page is visible to everyone, so anyone can just press the buttons and mess things up. These buttons should only be visible to the users who are logged in. What do you think @goneall

[2019-03-23 17:58] Ugtan commented on #107
I feel like the archive feature should be  available only on those licenses which are created by the user while the members of the SPDX legal team should have the access to archive any license which are important but can be delayed for a while. Also, we could have a different section or something for the new license requests in the online tools. So, that legal team can decide on the basis of the p

[2019-03-24 17:54] goneall commented on #100
This change would be a bit involved, but I can definitely see the benefit.  The challenge is the PR is created inside the license XML editor and the license XML editor doesn't really know about the original text which was submitted with the license.

We would need to somehow keep track of the database record for the license text.  Perhaps passing an optional parameter to the license XML editor wit

[2019-03-24 18:01] goneall opened #108 "Add listVersionAdded="" tag to license tag"
When creating the license XML for a newly submitted license, add the attribute `listVersionAdded ` with a default value of empty string (e.g. `<License isOsiApproved="false" licenseId="newlicense" name="newLicense" listVersionAdded="">`

This would make it easier to add the list version once a license has been approved.

This issue has been split off from issue #100

[2019-03-24 18:02] goneall commented on #108
We could also automate the insertion of the listVersionAdded in the Travis continuous build script on release if it is still empty.

If we want to automatically check or update this field, we should add a separate issue for the Travis tools update.

[2019-03-24 18:03] goneall commented on #100
This is pretty straightforward.

I added a separate issue to track this improvement: #108

[2019-03-24 18:04] goneall commented on #100
This one makes me very nervous.  I worry we may accidentally call something a title and ignore it when it is significant.  I would want to make sure a human somehow reviews this.

[2019-03-24 18:05] goneall commented on #100
For the bullet and item tags, the code referenced in the comment above did a reasonable attempt at solving this.  We could replicate the logic in the license submittal code.

[2019-03-24 18:07] goneall commented on #105
Sounds reasonable - All add a help wanted on this one.

[2019-03-24 18:11] goneall commented on #106
Documentation for the different fields can be found at https://spdx.org/spdx-license-list/license-list-overview

[2019-03-24 18:12] goneall commented on #106
We could/should add a[ link to the overview](https://spdx.org/spdx-license-list/license-list-overview) page to provide the detailed information on the license list.

[2019-03-24 18:14] goneall opened #109 "Change focus on error when submitting a new license"
When a field fails validation, the error is displayed at the top of the page.  If you are scrolled at the bottom, you don't see the error message.

Scrolling to the top of the page where the error is would highlight the error and solve the issue.

It would also help to highlight the field in error in red.

[2019-03-24 18:37] goneall commented on #107
@techytushar I agree with the issue.  Since we can always unarchive, at least we can undo any damage.

@Ugtan I like your proposal.  The only issue is determining who are members of the legal team.  We could use the list of users with write access to the license-list-XML repository.  I don't know how easy it would be to use the Github API to check this, but it would be the simplest UI.  Another ap

[2019-03-24 20:13] Ugtan commented on #107
An approach could be we could create a new [organisation](https://help.github.com/en/enterprise/2.16/admin/user-management/creating-organizations) something like `spdx legal team` and using the github api find the members of this organisation and give them permission to access the archive feature. I am not sure if it will be a efficient method. Also, i am unsure if its possible, will try to do som

[2019-03-24 22:29] ithompson4 commented on #99
Can I also fix this issue at the same time I deal with the redundant CSS for `xml_upload` and `license_information` files mentioned in the pull request #102.
For this issues do I need to make changes inside the `/app/license_requests/` to sort by date?

[2019-03-25 10:12] rtgdk commented on #99
@ithompson4 You can work on this one. You would have to make changes in the `views.py` function. Return the sorted data from the views to the template.

[2019-03-25 10:25] rtgdk commented on #107
@techytushar @goneall @Ugtan  We can also set the `ANONYMOUS_LOGIN_ENABLED = false` from setting.py or use some other variable for `license_request.html` page. All the legal team can use one single login(shared only among the legal team). We can restrict access to archiving/unarchiving `license_request.html` to this single user and also provide the license submitter with the same access, if needed

[2019-03-25 12:06] tjasmith commented on #4
@goneall @rtgdk @pombredanne
I have updated the [PR](#96 ) of this issue.

[2019-03-25 16:29] #105 closed

[2019-03-25 16:35] goneall commented on #107
@rtgdk I like the convenience of using github for the login.

@Ugtan It looks like we already have an organization "spdx" which is a superset of the legal team.  I actually think this is close enough.  If there is an API which let's us check of a user is a member of the spdx organization, I think that approach would work.

@jlovejoy Let me know if you agree

[2019-03-26 08:04] #94 closed

[2019-03-26 08:05] techytushar commented on #94
Fixed in #102

[2019-03-27 19:57] jlovejoy commented on #106
@techytushar I like the small ? icon idea, which you then hover over to display more text.
@goneall - I'd skip adding a link to the overview page for now. we are in the midst of a re-write.
but some instructions at the top - maybe a sentence or two would be good. (In my experience, when you have a ? icon with hover-over text, you have to actually tell people that it's there :)

[2019-03-27 20:26] ithompson4 commented on #99
Hello, while submitting a new license, I get this error. Do I use a valid URL for this form? Thanks.Hello, while submitting a new license, I get this error. Do I use a valid URL for this form? Or is it an unhandled exception? Thanks.

![pic1](https://user-images.githubusercontent.com/16367007/55109567-8061c980-50ac-11e9-86a6-e49ed41b9fff.png)

![pic2](https://user-images.githubusercontent.com/1636

[2019-03-27 20:45] goneall commented on #106
@jlovejoy sounds good - let's skip the link to the overview and just add a couple sentences.  To you have any text in mind?  If you can add it as a comment, that would be quite helpful.

[2019-03-27 20:54] jlovejoy commented on #107
I think that all sounds good

[2019-03-27 21:15] ithompson4 commented on #99
I added in views.py, line 1191 `.order_by('-submissionDatetime')` but it does not sort in desc order. Am I doing anything wrong?
`licenseRequests=LicenseRequest.objects.filter(archive='False').order_by('-submissionDatetime')`

Or is it OK to add `'order': [[3, 'desc']]` in `license_requests.html`, line 57 that works sorting by date most recent license:
`<script type="text/javascript">
  $(document

[2019-03-28 07:18] rtgdk commented on #99
@ithompson4 For the first one, I think it happens when submit invalid xml. Can you raise an issue for this?

For the second one, I am surprised order_by didn't work. Can you print `licenseRequests` before returning it to the template and check whether it is in order or not? Maybe the error is due to the DataTables.

[2019-03-28 19:26] ithompson4 commented on #99
Ok, I will raise the issue concerning the exception.

Concerning `order_by` in desc order:
When I use, `licenseRequests = LicenseRequest.objects.filter(archive='False').order_by('-submissionDatetime')` to display all records in sorted in `desc`
The result - not sorted:
![order_by1](https://user-images.githubusercontent.com/16367007/55186407-dac25f00-516c-11e9-9d37-bd8b409716ac.png)

When I use `li

[2019-03-29 00:20] ithompson4 commented on #99
So, in my template in DataTable JavaScript, I will disable sorting CSS.

[2019-03-29 03:21] ithompson4 opened #112 "Getting Unexpected Error message while submitting a new license"
Steps to reproduce:

- Click on "Submit New License" on the navigation panel
- Fill in all required fields in the form
- Click on "Submit" button

Actual Result:

![error1](https://user-images.githubusercontent.com/16367007/55206615-82f81800-51ad-11e9-8067-8fbcef256564.png)

![error2](https://user-images.githubusercontent.com/16367007/55206624-87bccc00-51ad-11e9-9480-106bc4f46551.png)

[2019-03-29 22:47] techytushar commented on #112
@ithompson4 this error should not occur, can you please paste the `Standard License Header` text that you are submitting

[2019-03-30 05:33] ithompson4 commented on #112
I tried different `Standard License Header` texts, for example:

`/*` Copyright (C) Iryna's Systems, Inc - All Rights Reserved
 `*` Unauthorized copying of this file, via any medium is strictly prohibited
 `*` Proprietary and confidential
 `*` Written by Iryna <test123@gmail.com>, May 2018
 `*/`

But this field is not required. When I leave `Standard License Header` field empty, I get the same err

[2019-03-30 07:54] Ugtan commented on #112
It is working fine for me. Can you share all the input fields you have entered in the form while you are getting this error.

[Here](https://spdx.org/licenses/) is the list of all the SPDX licenses that would work to test for now. @ithompson4

[2019-04-03 08:12] #99 closed

[2019-04-11 18:12] ithompson4 commented on #109
I would like to work on this. It would be a huge help if I you could let me know the basic business rules/validation the system enforces when submitting a new license. That is what are the basic data entry rules for each new license data entry field. Then I could submit new licenses that were accepted, and ones that I know will be correctly rejected.Thank you.

[2019-04-11 19:41] ithompson4 commented on #87
@techytushar, @Ugtan. Could I work on this if it's still open?. Thanks.

[2019-04-11 19:50] techytushar commented on #87
Hey @ithompson4 the error templates has been added. Thanks for your interest, please feel free to explore other open issues.

[2019-04-11 19:50] #87 closed

[2019-04-12 06:33] rtgdk commented on #109
@ithompson4 The field validation is already done, both in backend(Python view function) and frontend(Javascript check on submit). The javascript errors are shown at the top of the page, so if the form is long, the user while clicking submit would be at the bottom at the page. The task is to take the user to the top of the page so that he/she can see what the error is.

[2019-04-12 06:34] rtgdk commented on #109
I think @Ugtan opened a PR for that. (@Ugtan you didn't mention that you would be working on this issue before opening a PR)

[2019-04-12 12:24] Ugtan commented on #109
@rtgdk Sorry about that. I actually solved it during the proposal phase but i forgot to commit the changes. And, i didn't even realised that someone commented as @ithompson4 commented a few minutes before i pushed my changes. I will ensure to comment from the next time.

[2019-04-13 09:09] techytushar commented on #112
@ithompson4 is it working fine now? Which version of Python are running it on?

[2019-04-13 10:01] Ugtan commented on #106
@goneall @jlovejoy @teckytushar I would like to work on the issue.

[2019-04-13 17:31] goneall commented on #106
@Ugtan Sounds good.  You can take the text from the field descriptions in the link above.

@jlovejoy Let us know if you think any of the field descriptions will change.  Perhaps you can review the PR before merging.

[2019-04-13 20:35] #109 closed

[2019-04-14 06:05] ithompson4 commented on #112
Hello @techytushar. I have Python 3.6.5.
I checked a couple days ago and it did not work for me.  I am preparing for my final exams now, will be able to try again next Wednesday.

[2019-04-14 06:08] techytushar commented on #112
The spdx-online-tools is not compatible with Python3, try with Python2.x and it should run fine.

[2019-04-14 06:13] ithompson4 commented on #112
Ok, I will with try  Python2.x
But in the [Requirements section](https://github.com/spdx/spdx-online-tools#requirements-windows), it says "Install some version of Python (2.7 or higher)".

[2019-04-14 21:01] jlovejoy commented on #106
@goneall , @Ugtan - for the pop-up text for the fields, as per @techytushar 's suggestion, please use the following from https://spdx.org/spdx-license-list/license-list-overview#fields or notes below in "quotes":

License's Full Name = use bullets at A) Full Name on the above page
Short Identifier = use bullets at B) Short Identifier
Source / URL = use bullets at C) Other web pages for license/exc

[2019-04-16 06:37] rtgdk commented on #93
We would like to include the changelog in the wiki. (Format of the changelog should also be specified in that wiki). Before that, you should present any versioning strategy that would be best for this project. We can keep the online-tools version and java-tools version in settings.py or any other file and show it at the bottom of the web page. We should also create a wiki on how/when to change a v

[2019-04-16 18:02] Ugtan commented on #106
@jlovejoy @techytushar @goneall @rtgdk I have added a PR regarding the issue and would like your feedback on the same. Please have a look at it. Thank you.

[2019-04-16 18:26] goneall commented on #106
@Ugtan Looks good.  The text looks a little long for hover over, but it does contain a lot of information.

[2019-04-16 18:39] Ugtan commented on #106
@goneall Exactly. That is why i used bootstrap popover instead of tooltip as they look fine with a lot of info as well. Although, i can remove the hover over if you want then, it will act as a simple popover.

[2019-04-17 17:56] goneall commented on #106
I like the way it works.  It would be great to get @jlovejoy 's feedback on the look and feel, but we would need to deploy it first.  I"m thinking we go ahead and merge, deploy and if we want to do any fine-tuning, we create a separate PR.

@techytushar Does this look good to you?  If so, I'll go ahead and merge.

[2019-04-18 13:20] Ugtan commented on #106
Sounds good to me @goneall

[2019-04-20 17:24] goneall commented on #106
I'm going to re-open this issue until @jlovejoy Jilayne has a chance to review the implementation.

@jlovejoy The tooltip code has been deployed to spdxtools.sourceauditor.com

[2019-04-27 03:33] ithompson4 commented on #112
Hello @techytushar. I installed Python 2.7.16 from Anaconda. While running the command `python manage.py migrate`, I get this error:

`(venv) (base) C:\>python C:/Users/Irina/Documents/Git_Spdx/spdx-online-tools/src/manage.py migrate
ImportError: No module named _multiarray_umath
Traceback (most recent call last):
  File "C:/Users/Irina/Documents/Git_Spdx/spdx-online-tools/src/manage.py", line 22,

[2019-04-27 21:16] Ugtan commented on #108
I would like to work on the issue. @goneall

[2019-04-28 17:39] goneall commented on #108
@Ugtan Go ahead and work on the issue.  Thanks.

[2019-05-01 23:13] jlovejoy commented on #106
this looks good!  Do you think we need a sentence at the top of the page saying something like:
"Please follow the guidance in the pop-up for the fields to ensure all the correct information is provided."
Or is it obvious enough that one should read the info in the ? pop-up, do you think?

[2019-05-02 00:34] goneall commented on #106
I'm leaning towards no sentence, but I just went through and looked at the pop-ups - we could probably validate most of the items and give an error if they don't follow the naming rules.  I'll open a separate issue to track.

[2019-05-02 00:38] jlovejoy commented on #106
sounds good to me!

[2019-05-02 00:40] goneall opened #115 "Validate license submittal fields"
This license name and license ID can be validated using the rules documented in the pop over text.  We can pick a max. length of a short identifier - perhaps 25 characters.  We can make sure all characters are valid.

For the license name, we can check for starting with "the", parenthesis, etc.

Check the pop over text for what can be validated.

This is related to issue #106

[2019-05-02 00:44] goneall commented on #106
Closing this issue - created issue #115 to track validating fields.

[2019-05-02 00:44] #106 closed

[2019-05-02 17:36] Ugtan commented on #108
@goneall I have added a PR to fix the issue. Please have a look at it. Thanks.

[2019-05-02 21:21] goneall commented on #108
@Ugtan PR looks good.  Once @rtgdk merges, we can close the issue.

Thanks!

[2019-05-03 05:33] Ugtan commented on #108
Sounds good to me 😊

[2019-05-03 09:41] #108 closed

[2019-05-03 16:07] Ugtan commented on #115
@goneall I would like to work on the issue.

[2019-05-03 18:18] goneall commented on #115
@Ugtan That would be great.  Thanks,

[2019-05-04 05:23] techytushar commented on #112
Its quite hard to read this way can you please paste a screenshot. But I would suggest you to use only Python and not Anaconda, then create a virtual environment, install the requirements and then try again.

[2019-05-17 02:37] jlovejoy opened #117 "add links to fields in license submittal form"
can someone update the text in the license submittal form pop-up to reflect the addition of the links as is shown here https://github.com/spdx/license-list-XML/pull/862
(assuming links are an option in the pop-up text)

[2019-05-17 02:47] jlovejoy commented on #117
can we also fix the header so it says, "Submit a new license to the SPDX License List"
(not "Licenses List" :)

thanks!

[2019-05-17 03:06] jlovejoy opened #118 "add new question to submit new license form"
can we add a new question to the submit new license form?
I'd like to add it below the OSI Status question. the question text would be:

_FSF free/libre?_

Pop-up text would say: "Is the license is considered free by the FSF  according to this page: https://www.gnu.org/licenses/license-list.en.html

Options for answering would be a drop-down with yes/no/I don't know

@swinslow or @bradleeedmondson

[2019-05-17 17:38] goneall commented on #118
Just FYI - The LicenseListPublisher currently scrapes the HTML from the FSF website and attempts to match licenses.  If we decide to add an FSF license with a "Y", we need to make sure it is consistent with the FSF website or the LicenseListPublisher will need to be updated to override the information in the FSF website.

[2019-05-17 17:39] goneall commented on #118
Two detail questions:
- Should this be required?
- Should we have a default value?

[2019-05-17 17:49] goneall opened #120 "Change file extension for excel output file from XLSX to XLS"
The format produced by the SPDX tools is the old .xls format but the convert function for the tool downloads the file with a .xslx extension.  The extension should be changed to .xls or the tool updated to produce the newer .xslx format.

[2019-05-17 17:49] jlovejoy commented on #118
oh, I did not know that. So that step is at the point when we publish the license list, not part of the submission process?

[2019-05-17 17:50] goneall commented on #120
I would suggest changing the file extension since that would be a very easy fix.

[2019-05-17 17:50] jlovejoy commented on #118
if we can automate this (or already have), then maybe no need for this question.
it's not like OSI, where sometimes things are in-flight and the submitter is the best person to know that.

[2019-05-17 18:16] goneall commented on #118
Correct.  There actually isn't a way to specify FSF Free in the license XML document today.

[2019-05-17 18:20] goneall commented on #118
I guess if we asked the question, we may end up being in the middle between a requester and the FSF as to the FSF free status.  It is more of a process question, but I'm leaning towards leaving it in the automated state and not ask the question.  If someone wants to update the FSF free status they can work directly with the FSF since the FSF maintains a web page with that information.

There is on

[2019-05-19 17:58] jlovejoy commented on #118
@goneall - agreed, relying on scraping/automating seems like the best way to go. And better effort spent trying to get FSF to improve code we are scraping!

I think we can close this, then

[2019-05-19 17:58] #118 closed

[2019-05-23 16:24] goneall opened #121 "Update Django Rest Framework to ~> 3.9.1"
There is a medium priority security vulnerability in the current rest framework.

[2019-05-28 15:54] #115 closed

[2019-05-28 16:06] #121 closed

[2019-08-25 22:01] goneall opened #135 "Change from creating a PR to creating an issue when there is a close match in a license submittal"
PR #128 implements a feature where if there is a close match, the user can submit a pull request to update the XML to allow for the match.

After trying this out on my local machine, it occurred to me that many users may not have the technical skills or interest in creating the XML with the proper `<optional` or `<alt...` tags.  We could instead create an issue with a title "Update [licenseID] to

[2019-08-25 22:47] swinslow commented on #135
Sounds great to me :)

[2019-08-27 23:12] #45 closed, assigned to nobody

[2019-09-29 18:27] #135 closed

[2019-09-29 19:01] goneall opened #137 "License submittal fails for close match if an existing license submittal exists for the same license short ID"
Error is due to multiple license submittals being returned from a query based on the license short identifier

[2019-09-29 19:03] goneall opened #138 "License diff URL incorrect in issue created for close license ID"
When choosing that a license should match, the issue created has an invalid link to the diff:

```'https://github.com/<github-username>/<repository-name>/blob/master/s8zpewkoff.png'```

See https://github.com/spdx/TEST-LicenseList-XML/issues/69 for an example.

[2019-09-29 19:11] goneall opened #140 "Changing a single word in a license shows as exact match when it should show a difference"
To reproduce, create a new license request and copy/paste the text for the Apple MIT License.  Then change the copyright from `Copyright: Copyright (c) 2006 by Apple Computer, Inc., All Rights Reserved.` to `Copyright: Me, All Rights Reserved.`.  It should show a close match and give you the option of submitting an issue or a new license request.

[2019-09-29 19:32] goneall commented on #140
I did some testing and the spdx_license_matcher/computation.py score calculated on line 31 is 1.0 even though there are some changes.

One possible solution is to run the SPDX tools java compare even on the "perfect matches" to make sure it really matches.  This could be simplified by just treating all matches as close matches and checking all licenses.

Another approach would be to improve the ac

[2019-09-29 19:32] goneall commented on #138
@Ugtan Can you take a look at this one when you get a chance?

[2019-09-29 20:55] Ugtan commented on #138
'https://github.com/<github-username>/<repository-name>/blob/master/s8zpewkoff.png'

This was likely to happen. I have mentioned it a few times in this [PR](https://github.com/spdx/spdx-online-tools/pull/136), I guess you missed it. The working of the tool is as follow: if a close match is encountered then it takes a SC of the diff and uploads it to a github repository where it can be easily acces

[2019-09-30 00:21] goneall commented on #138
@Ugtan Thanks for the quick update.  I do recall the documentation in the PR, now that you mention it.

I'll set that up and test it out in production.

[2019-09-30 07:27] alandtse opened #141 "feat: allow form filling based on processing of get parameters for submit_new_license"
I'll be adding a submit new licenses option in [spdx-license-diff](https://github.com/spdx/spdx-license-diff/issues/19). This will try to populate some of the fields on the submit_new_license page.  While there is a character limit for URIs, it'd be helpful for me to pass the request in a get request to prepopulate the fields that will already be available.  I could also do a post request to prepo

[2019-09-30 14:00] Ugtan commented on #137
@goneall One way to solve this would be to make the license short identifier unique which might be a good way to ensure a single value is returned everytime. This would also prompt user to use a different short identifier. Since we are not concerned with the actual identifier but the contents of the license, the spdx license match will still report the results irrespective of the name of the ident

[2019-09-30 14:08] Ugtan commented on #140
@goneall I haven't got a chance to look at it but I will definitely do after the end of this week(I am having exams this week).

But as far as I could remember the copyright text is not considered as substantial based on the SPDX guidelines that might be the reason as the copyright is ignored and hence the changes are ignored as well. But I do think there is a possibility of improving the process

[2019-09-30 16:24] goneall commented on #137
This would work for the new license requests.  But if we are making an issue to update an existing license in the case when there is a close match and the user selects the licenses should be the same, we will have more than one request for the same license ID.

[2019-09-30 16:30] goneall commented on #140
True - the problem can also be duplicated by changing one word in the body of the license text outside the copyright.  The code will come back with a 1.0 score and a match even though there is a difference in the license text.

Since we are dealing with licenses where a single word can make a very big difference (e.g. inserting the word "not"), we need to make sure they don't show up as matching.

[2019-09-30 16:58] goneall commented on #138
I setup a repo for this purpose: https://github.com/spdx/licenseRequestImages

I tested it out with a token I generated and it works great :)

@Ugtan I invited you as an admin for this repo in case you want to try/test anything out.

[2019-09-30 16:59] goneall commented on #138
@Ugtan Is there a way we can move the token to the secrets.py or create a secrets.js file for the token?  I'm afraid I will accidentally commit my token to the source repo.

[2019-10-11 18:55] Ugtan commented on #138
@goneall Yeah, I'm not sure of a better way to do the same but creating a secret.js file and hard coding all the sensitive data inside it and adding this file to .gitignore is definitely possible and it would be sufficient IMO.

[2019-10-11 19:30] Ugtan commented on #140
You are right. The matching algorithm definite needs some necessary tweaks to be able give accurate results.

This might require a bit more involvement but I would definitely take the problem into consideration as the `alt` and `optional` texts has an overall impact on the performance of the matching algorithm. If you find any other issue, then I will request you to please report it here itself.

[2019-10-11 19:34] Ugtan commented on #137
There should be atleast a field that should be uniquely identified in order to have multiple requests with the same license ID. But if that's the case, using id or pk of a license request might work.

[2019-10-11 21:27] goneall commented on #140
The Java license matching already takes into account the alt/optional tags.  You are correct in that it is a lot more involved - it took me a few tries to get the Java version right.

If you can fix the code so that it would return a score of less than 1.0 when even one word changes, it should work.  This is because the Java matching code would be called if it has a high enough score but is less t

[2019-10-12 09:24] Ugtan commented on #140
Oh.. Makes sense. I will try to improve the matching algorithm and I will ping you If I need help with something. Thanks for the clarification. :)

[2020-01-08 02:37] goneall commented on #140
@Ugtan Ping - do you have some bandwidth to work on this issue?  I want to get this issue resolved before deploying.

[2020-01-08 16:21] Ugtan commented on #140
Hello @goneall, I do want to work on the issue. Tomorrow is my last exam of the semester and I think I will get enough time to work on the issue from the day after tomorrow.

[2020-02-07 23:56] goneall opened #142 "Update git authentication method"
Email from github:

On February 7th, 2020 at 21:47 (UTC) your application (SPDX Online Tools) used an access token (with the User-Agent python-requests/2.20.1) as part of a query parameter to access an endpoint through the GitHub API:

https://api.github.com/user

Please use the Authorization HTTP header instead as using the `access_token` query parameter is deprecated and will be removed July 1st

[2020-02-08 11:44] anshuldutt21 commented on #142
@goneall Do we need to completely remove the github authentication and replace it with the oauth authentication or authorization headers.

[2020-02-08 12:09] anshuldutt21 opened #144 "Running the server shows an error no module named secret in settings.py file"
While running the command python manage.py runserver an error comes up showing no module exists named secret in settings.py file. It should be renamed as
from .secret import getgithubkey and others,  since we are accessing the file in the same directory as of the settings.py file

[2020-02-08 17:29] goneall commented on #142
That is my understanding from reading the github documentation at https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api/#authenticating-using-query-parameters

[2020-02-08 17:59] goneall commented on #140
@Ugtan Pinging you on status of the issue - let me know how it is going.

[2020-02-09 10:17] #120 closed

[2020-02-09 10:27] rtgdk commented on #144
@anshuldutt21 Are you sure this is not specific to the python version/ virtualenv setup / Django version? because it has beem working fine for us in the past.

Did you setup your local repo using the instruction in README?

[2020-02-09 11:01] anshuldutt21 commented on #144
@rtgdk I think you are right about this issue being specific to the python version. I tried resetting up and it worked.

[2020-02-09 12:03] #144 closed

[2020-02-09 12:03] rtgdk commented on #144
Closing this then.

[2020-02-09 13:37] anshuldutt21 opened #147 "Add command python manage.py makemigrations in the documentation"
We should add the command python src/manage.py makemigrations in the docs since the migrations for app doesnt work unless we do makemigrations for it.

[2020-02-09 17:36] rtgdk commented on #147
@anshuldutt21  Are you sure about this? Because migrations are already added in the migrations folder. If you still had to run makemigrations look at the diff when the command is run, if it creates some new file please open a PR for the same.
Also, another way is to remove the folder and then run the command, this will create only one file `0001_initial.py` and then you can find the diff.

The ide

[2020-02-09 18:28] anshuldutt21 commented on #147
@rtgdk yes it does create a new file in the migrations after runninig the command.

[2020-02-10 13:34] rtgdk commented on #147
@anshuldutt21 Can you paste the content of it?

[2020-02-14 14:37] anshuldutt21 opened #148 "Submit new license request doesnt work since License Request is not imported"
We need to import the License Request from the models to make it work

[2020-02-15 10:25] rtgdk commented on #148
Can you post the error? @anshuldutt21

[2020-02-15 16:18] anshuldutt21 commented on #148
![Screenshot from 2020-02-15 21-46-29](https://user-images.githubusercontent.com/45336622/74591301-d4ff9180-503c-11ea-86c8-cd1f90332a18.png)
This is the error that appears when we submit a new license request.

[2020-02-15 16:22] rtgdk commented on #148
@anshuldutt21 But it works in production, can you please check your local setup/ virtualenv? I think this is a python import error specific to the version.

Also, did you try and replicate this in production? https://spdxtools.sourceauditor.com/

[2020-02-15 16:53] anshuldutt21 commented on #147
# -*- coding: utf-8 -*-
# Generated by Django 1.11.28 on 2020-02-15 16:52
from __future__ import unicode_literals

from django.db import migrations, models
import django.db.models.deletion

class Migration(migrations.Migration):

    dependencies = [
        ('app', '0001_initial'),
    ]

    operations = [
        migrations.CreateModel(
            name='LicenseNamespace',
            fields=[

[2020-02-15 16:58] anshuldutt21 commented on #147
The above file is the 2nd migration file created after doing makemigrations. The contents are also different. I think the best way should be to run makemigrations in the docs before migrating.

[2020-02-15 17:05] anshuldutt21 commented on #148
@rtgdk It works in production. But I dont understand how it is working if we have'nt imported the model License Request in utils.py. The name will remain undefined. Also I  think there won't be any harm in adding a word along with from app.models import User, UserId. It will make it less prone to version specific errors.

[2020-02-15 20:09] anshuldutt21 commented on #107
Is this issue still open? As far as I can understand we want that the archive features are available to the legal spdx team and to the user who created them. right?

[2020-02-15 20:32] anshuldutt21 commented on #93
@rtgdk its best to include a file (versions) to show the java tools version and display the value in the web home page.

[2020-02-16 19:59] rtgdk commented on #93
@anshuldutt21 You are welcome to open a PR for the same.

[2020-02-16 20:03] rtgdk commented on #107
@anshuldutt21 yeah, right. you are welcome to suggest any ideas on how to get this permission only for the legal spdx team (like you have a list of spdx legal team users) and the user who created it.
As @goneall  said above

You can suggest any other approach you can think of and raise a PR for the same.

[2020-02-16 20:04] rtgdk commented on #148
@anshuldutt21 If you think it's a real issue, you can raise a PR and we will check that on our end.

[2020-02-17 10:24] anshuldutt21 commented on #44
@techytushar is this issue still open because the split view editor tests are already written.

[2020-02-17 11:42] techytushar commented on #44
Yes, the test for the split editor are already written here #86 . Thanks for asking. Closing it now!

[2020-02-17 11:42] #44 closed

[2020-02-18 08:43] rtgdk commented on #147
@anshuldutt21 Okay, I got it. These models were created last year and the changes haven't been migrated in the migrations files.
Can you raise a PR, after deleting the migrations folder rerun the migrations command which will append changes to `0001_initial.py` ? (We want only one file in migrations folder)
We don't want any developer/user to run makemigrations (one less command to setup the repo)

[2020-02-18 08:53] rtgdk opened #151 "Innovative popover while submitting license"
The current popover in the Submit License page cannot handle scrolling, also it doesn't support mouse click. User has the keep mouse hover over the element to see the info.

It would be more intuitive to have a proper hover over which can open with a click and does not close until another click happens on other part of screen. It should also support scrolling since the text in the info popover is

[2020-02-18 18:58] rtgdk commented on #140
@Ugtan Are you working on this one? Or should we open it for new contributors?

[2020-02-18 19:13] Ugtan commented on #140
Hello @rtgdk. I'm indeed working on the issue. Sorry, it took me a while to write it all over again. I will try to push the changes by tomorrow.

[2020-02-19 13:50] anshuldutt21 opened #153 "Improve testing to check for edge cases"
Some tests need to done to ensure proper workflow of the the website. Refer to #149 for example.

[2020-02-20 05:19] techytushar commented on #148
Closing this, resolved in #149

[2020-02-20 05:19] #148 closed

[2020-03-19 16:29] goneall commented on #140
@Ugtan Pinging you again on the issue - we could open this for others to work on if you don't have the bandwidth

[2020-03-24 12:54] ekongobie commented on #151
@rtgdk Can I work on this?

[2020-03-24 13:01] rtgdk commented on #151
@ekongobie Sure.

[2020-04-17 07:51] alandtse commented on #141
Solved [this](https://github.com/spdx/spdx-license-diff/releases/tag/v0.4.0) via javascript.

[2020-04-17 07:51] #141 closed

[2020-05-06 23:34] goneall opened #157 "Improve error message when error received from the Java code"
If there is an unexpected exception from the Java Bridge, add some text before the message to describe the error and action.  For example "An unexpected error occurred.  Please submit an issue at github.com/spdx/spdx-online-tools/issues with the following error: "

See related SPDX tools issue https://github.com/spdx/tools/issues/229

[2020-05-07 08:37] felijung opened #158 "non-existent mail address is shown"
When using the SPDX Online Tool without being signed in to GitHub, a dialogue appears which also gives the mail address spdx-legal@spdx.org. Mails to this address do not get delivered. Screenshot of dialogue attached.
![spdx-mail](https://user-images.githubusercontent.com/59148463/81273035-992e0400-904e-11ea-81cb-490d40b219ec.png)

[2020-05-09 20:24] goneall commented on #158
The correct email is spdx-legal@lists.spdx.org

[2020-05-09 22:38] #158 closed

[2020-05-17 19:11] Yash-Varshney opened #160 "GSoC image in the README.md file."
**SUMMARY**

The first pic under README.md when we open [spdx-online-tools](https://github.com/spdx/spdx-online-tools/issues/new) seems to be of GSoC. Instead of this,` spdx-online-tools` logo should be used ( if there is one), or else it should be updated with a more desired title image.

[2020-05-18 07:15] rtgdk commented on #160
@Yash-Varshney Makes sense. It should be a combined logo of SPDX and GSoC. Since GSoC made this project possible, we have to give it credit.

[2020-05-18 09:12] Yash-Varshney commented on #160
@rtgdk thanks for briefing. I will make a PR changing it to a combined image, if its ok?
Also, `spdx-online-tools` is a project in `community bridge` program. Can you suggest me something to work to increase my chances with that ?
Thanks

[2020-05-19 09:36] rtgdk commented on #160
@Yash-Varshney I would recommend you to get involved in spdx community, go through the repos, find new issues, and fix existing issues.
Find all the repos here: https://github.com/spdx
Pick up any issue which you feel you can do in any repository and raise a PR.

[2020-05-26 13:11] Dhiraj240 commented on #24
@rtgdk does this issue still need development? I would like to work on it

[2020-05-26 14:42] rtgdk commented on #24
@Dhiraj240 I think @techytushar has already pushed #59 for this issue back in Dec 2018. But you can go ahead and check if everything works right now. If not, we would like to migrate to Python3 and Django2 in master. So, we would need a hand to merge the python3 support to master.
Some work is already done in https://github.com/spdx/spdx-online-tools/tree/python3
With this, you can also resolve #5

[2020-05-26 16:59] Dhiraj240 commented on #24
Alright, I will work on this coming weekend and check the files which require changes.

[2020-06-07 19:24] Yash-Varshney commented on #160
@rtgdk I believe the purpose of this issue is finished! I am closing the issue..

[2020-06-07 19:24] #160 closed

[2020-06-07 19:31] kmehant opened #162 "ImportError: No module named 'secret'"
The `secrets` module was added to Python in version 3.6. So shall we add this compatibility point to the README.md so that a version 3.6 or higher would be used?

[2020-06-07 19:32] kmehant commented on #162
@goneall @rtgdk  Shall we add this to the README.md?

[2020-06-07 22:17] wryonik opened #163 "Replace itertools.izip"
Currently, during the setup process, we get this error:-

`ImportError: cannot import name 'izip' from 'itertools' (unknown location)`

This comes due to izip package becoming obsolete in python 3. In Python 3, we can use zip instead of izip without importing anything to solve this problem.

[2020-06-07 22:51] shubhamgupta2956 commented on #162
@goneall @rtgdk Apart from using the Python 3.6+ version, we have to change the location of `secret.py` file from `src/src/secret.py` to `src/secret.py` as that was the location specified in the `settings.py` file. Alternatively, we can change the location of `secret.py` file in `settings.py` file also.

[2020-06-08 04:59] rtgdk commented on #162
The master is built with python2 and Django=1.11.18, you should have not faced this error while setting up the repo. The fix for this should be deployed either in the branch python3 (where we track python3 upgrade) for #58  #24

[2020-06-08 08:42] kmehant opened #166 "Fix UI overflows in various components of the application"
Such as:
<img width="300" alt="Screenshot 2020-06-08 at 1 59 07 PM" src="https://user-images.githubusercontent.com/15800200/84010276-13c1aa80-a992-11ea-92ea-b0ce5d61e4b9.png">

[2020-06-08 08:43] shubhamgupta2956 commented on #162
Hi @rtgdk. I went through the python3 branch. It has the last commit merged around Dec 2018. Since this file was not created at that time, it was not there. Same for #164. Should I add this file and modify it accordingly to solve #142 as well or just add this file there and add two different PRs solving both issues separately?

[2020-06-08 09:54] kmehant opened #168 "Add an option to remove specific sources while submitting a license"
We have an option to add a source while submitting a license, but sadly there is no option to remove them, and submitting them blank is not being allowed for obvious reasons so an option to remove would be more UX friendly.

[2020-06-08 22:53] shubhamgupta2956 opened #169 "Update .gitignore"
Currently, these folders are not in .gitignore
[code]
The first folder containers the files uploaded by the user or are generated by any operation by the user (for example- Comparing SPDX RDF Documents).

The second folder is in requirements.txt file.

Apart from that, we can also put `src/src/secret.py` in .gitignore also so that the contributors do not push their credentials accidentally.

[2020-06-09 03:46] rtgdk commented on #162
@shubhamgupta2956 Add 2 different PRs. Btw, I want to know whether you were able to setup the repo with python2 and secret file worked fine? (no import error, right?)
You can raise a separate PR for implementing secret.py for python3.
Python3 branch was cut before last year's projects. One of the pending major task is to migrate to python3 - which can be a side project for Community Bridge program

[2020-06-09 06:22] shubhamgupta2956 commented on #162
Yes, I had setup the repo using python2 and it is working fine. I will try to make PR for it ASAP.

[2020-06-09 19:25] jay24rajput opened #173 "Secret: Module import error"
I built the virtual environment as given in the setup guidelines and also installed all the requirements via pip.

After running the ```python src/manage.py migrate```  the following error message pops up:

[code]

The error is seen in [src/src/settings.py#L14](https://github.com/spdx/spdx-online-tools/blob/1e666e82b453b653b8d3c2ad9224b8f012edc755/src/src/settings.py#L14)

[2020-06-09 20:24] goneall opened #174 "File validation drag/drop doesn't work when filenames have spaces"
To reproduce, go to the app validate: http://13.57.134.254/app/validate/ and drag and drop any SPDX file with a space in it (e.g. "SPDXTagExample-v2.0 - Copy.spdx").

This results in the error `/var/www/spdxtools/spdx-online-tools/src/app/media/AnonymousUser/1591734127/SPDXTagExample-v2.0%20-%20Copy.spdx does not exist.`

[2020-06-09 20:30] goneall commented on #173
See the README [Github Developer Sensitive Data section](https://github.com/spdx/spdx-online-tools#github-developer-sensitive-data) for instructions on creating the secret.py module.

[2020-06-10 07:21] jay24rajput commented on #173
@goneall What I am talking about is import error, I think there is some discrepancy in importing the secret module. I think this arises due to python3. I found the fix for the same:

- - -
### Solution
When we replace import ```secret``` to ```src.secret``` in [settings.py](https://github.com/spdx/spdx-online-tools/blob/1e666e82b453b653b8d3c2ad9224b8f012edc755/src/src/settings.py#L14) the import e

[2020-06-10 08:24] shubhamgupta2956 commented on #173
@jay24rajput these issues are reported in #162 and #163. These errors are coming due to using python3 instead of python2. Try to set up repo by using python2. Also, there is a dedicated branch for python3 named `python3` if you want to use that.

[2020-06-11 07:45] anshuldutt21 opened #177 "Write tests for checking the archive request feature"
`
        driver.find_element_by_id('unarchive_button' + str(archive_license_obj.id)).click()
        driver.find_element_by_id('confirm_unarchive').click()
        self.assertEquals(LicenseRequest.objects.get(id=archive_license_obj.id).archive, False)

        if driver.find_element_by_id('unarchive_button' + str(archive_license_obj.id)):
            driver.find_element_by_id('unarchive_button' +

[2020-06-11 09:32] #107 closed

[2020-06-11 19:02] Ugtan opened #179 "Make the generate diff view in License XML Editor more interactive"
The generate diff feature in the License XML Editor section of the SPDX Online tools compares the XML and generates a diff view of the license XML. If we change even a single word in the license, it shows a change in the whole paragraph. The task is to make the changes visible clearly.
![image](https://user-images.githubusercontent.com/32966387/84428447-18ad8500-ac44-11ea-8b6c-4de0d205a028.png)

[2020-06-12 07:59] kmehant opened #181 "Maintiain Credentails using environment variables"
This model of maintaining sensitive data will be beneficial for

secure testing in Travis (by using Travis environment variables)
container-based setup (passing environment variables to containers would maintain our sensitive data without having them part of the actual code)
Easier and cleaner for local setup (as they maintain their own .env file so there will be no need to worry about committing

[2020-06-13 16:56] Prodyte opened #183 "Dockerize spdx-online-tools"
Dockerizing will enable a smoother flow of execution and development.

[2020-06-13 17:00] Prodyte commented on #183
Hey @rtgdk @goneall can you assign me this issue?

[2020-06-13 18:30] Ugtan opened #184 "Limit code repetition in license namespace section"
Since the license request and license namespace section of the SPDX online tools is quite similar in functionality. Both of these section provides the user the ability to submit license requests or license namespace, But to a different repository. Some of the code of namespaces is quite similar to that of license request, We could have easily adapted our code to use license request code to limit c

[2020-06-13 21:25] rtgdk commented on #183
@Prodyte You don't need approval to work on issues raised by you. Nevertheless, I'll assign it to you.

[2020-06-14 11:01] rtgdk commented on #183
@Prodyte My bad. This project is already proposed in the Community Bridge program ideas - https://wiki.spdx.org/view/CommunityBridge/CommunityBridge_ProjectIdeas
and is scheduled to be done during the program. Your PR won't be merged for this issue since it will require some communication with mentors and is a summer-long project.
You can still work on the deployment structure yourself and create

[2020-06-14 11:42] #174 closed

[2020-06-14 12:13] rtgdk commented on #181
Similar to #85

[2020-06-16 03:00] tomokos2 commented on #184
Hi, may I work on this issue?

[2020-06-16 04:58] rtgdk commented on #184
@tomokos2 Yes, you can. You don't need to be an assignee to work on the issue.

[2020-06-17 17:39] Ugtan opened #186 "Add a License Diff section to the SPDX Online Tools"
We can add a new section to the Online tools which will take license text from the user and shows diff if the license entered by the user is a close match. That way we could inform the user beforehand that a license that closely matches the license user has entered is already present on the SPDX License List. Alternatively, we can improve the check license functionality to display license IDs for

[2020-06-17 17:40] Ugtan commented on #186
@goneall @rtgdk Let me know your thoughts on the issue.

[2020-06-17 22:49] goneall commented on #186
Sounds like a useful feature.  There is a Chrome and Firefox plugin for license diff: https://github.com/spdx/spdx-license-diff

Note: If we were to use the code from this plugin, we would need to change the license to GPL-3.0 to be compatible.

[2020-06-19 14:09] rtgdk commented on #186
@Ugtan Sounds good. But we need to decide where to show this feature - should we provide a button next to xml text field in submit license? Or create a new view, or alter the check license view? Displaying license IDs and diff is a great idea.

[2020-06-19 14:18] Ugtan commented on #186
I spent some time looking at the code of the license diff. I personally feel we will have to make quite a few changes to the code base to make it work for our use case. Also, I think we should not mess the plugin IMO. A better and easier way here would be to use https://github.com/spdx/spdx-online-tools/blob/4c08565b8511a63196537b953c7f7d6b588e42e8/src/app/utils.py#L479 Since, we already maintaini

[2020-06-20 12:36] rtgdk commented on #186
@Ugtan New view makes sense but then we already have a view for check licenses. Also, making this as api will be better so that we can show the user a button on the submit license page under xml field to check the license diff.

[2020-06-20 12:46] Ugtan commented on #186
I agree. Api to check the license diff and a button on the submit license page works well too.

[2020-06-21 04:48] kmehant commented on #183
@rtgdk
Community Bridge selections were out and found that this project will no longer be part of the community bridge program. So I guess we should unlock this issue.
Thank you.

[2020-06-22 15:03] rtgdk commented on #183
@kmehant @Prodyte You are free to work on this since it didn't get selected for the Community Bridge program.
Comment below if you wish to work on this so other people can pick up another issues.
Thanks!

[2020-06-22 15:05] kmehant commented on #183
@rtgdk sure shall I take up this?

[2020-06-22 15:09] rtgdk commented on #183
@kmehant Sure! 😄

[2020-06-23 06:37] #162 closed

[2020-06-24 19:36] Ugtan opened #189 "Add HTTPS support for Spdx Online Tools"
So far, we only support deploying over HTTP. We should consider adding support over HTTPS of Spdx Online tools. I would recommend using [certbot](https://certbot.eff.org/) for the same.

[2020-06-24 19:37] Ugtan commented on #189
What are your thoughts on this? @goneall @rtgdk

[2020-06-24 19:50] tomokos2 commented on #184
@rtgdk Hi, I was thinking about how to solve the similarity issue in `script.js` and `ns_script.js` --
1) Have 3 files, one holding the similar code and the other two holding the different code, and load two scripts in `editor.html` and `ns_editor.html`.
2) Combine the two files into one and have if statements that control which functions to use for the normal script and the namespace script?
May

[2020-06-24 19:57] goneall commented on #189
@Ugtan Definitely a high priority.

I'm going to setup a new github account just for the online tools.  Once that is setup we can get the certs and set this up.

[2020-06-24 20:06] Ugtan commented on #189
Sounds good @goneall

[2020-06-30 17:39] rtgdk commented on #184
@tomokos2 The 1st option looks fine to me. Having a common template that contains common functions and elements will be the way to go.

[2020-06-30 20:40] defensivedepth opened #192 "Github Write Permissions?"
Hello there!

I am attempting to submit a new license for inclusion to the license list, using the web form at http://13.57.134.254/app/submit_new_license/

It appears that I am required to give the SPDX Online Tools app write access to all of my public repos? Can you clarify why this permission would be needed for me to submit a web form?

Thanks!

![image](https://user-images.githubusercontent.c

[2020-07-01 01:05] goneall commented on #192
@defensivedepth The online tools requires access in order to create an issue in the [license-list-XML repository](https://github.com/spdx/license-list-XML).

I don't know if write access is required or if there is a lesser permission would allow for an issue to be created.

If we can create issues without write access, I would be all for changing the permission request.

[2020-07-15 18:27] #183 closed

[2020-07-15 18:32] goneall opened #193 "Use an environment variable for the redis host"
The localhost can not be used for redis in the current container environment.  Creating an environment variable would allow the redis host to be configured outside the source.

If no environment variable is present, we could default it to the current `localhost` for compatibility.

See the containerize pull request #188 for a discussion on the topic.

[2020-07-15 18:38] goneall commented on #193
The same environment variable should be used for both the spdx-license-matcher and the spdx-online-tools.

Suggest `SPDX_RDIS_HOST`.

See the related issue https://github.com/spdx/spdx-license-matcher/issues/3

[2020-07-15 18:54] kmehant commented on #193
Shall I take up this 😁

[2020-07-15 19:42] goneall commented on #193
@kmehant Please do go ahead - thanks!

[2020-07-15 20:52] goneall opened #194 "Decide on deployment Google Cloud or Amazon AWS"
The current online tools is deployed on an Amazon AWS EC2 server.

As we move to a more container based deployment, we need to choose whether to stay on AWS and utilize EKS and RDS or if we should move to Google Cloud with GKE and Google Cloud SQL.

[2020-07-15 21:03] goneall opened #195 "Test/determine whether the SPDX online tools can run in a clustered environment"
To be supported in a clustered environment, there are a few things we should validate:

- Is there any persistent data stored outside the SQL database which would need to be shared?
- Are there any concurrency transaction isolation issues if we were to have more than one online tools instance accessing the same database?
- Any other issues which would cause a clustered environment to fail?

[2020-07-15 21:04] goneall commented on #195
@rtgdk Are you aware of any issues?

[2020-07-15 21:06] goneall opened #196 "Assign a more permanent URL to the SPDX online tools"
Suggest we use `tools.spdx.org` as the domain.

This can be setup once we have an assigned IP address which depends on deciding which deployment environment to use (issue #194 )

[2020-07-15 21:08] goneall opened #197 "Setup a sandbox production environment using the new deployment architecture"
Setup a sandbox environment to experiment and test the new deployment infrastructure

[2020-07-15 21:12] goneall opened #198 "New deployment architecture"
This issue is to track a discussion on the new deployment architecture.

The current proposal is to have a Kubernetes managed container based architecture with a separate managed database server.

[2020-07-15 21:21] #137 closed

[2020-07-15 21:23] goneall commented on #181
Resolved with PR #180

[2020-07-15 21:23] #181 closed

[2020-07-15 21:24] goneall commented on #192
@defensivedepth @rtgdk Any ideas if it is possible to create an issue without write access?  If not, let's close the issue since the legal team requires the issue to be submitted with the user's github username.

[2020-07-15 21:29] goneall commented on #142
@anshuldutt21 Did you get a chance to look into this issue?  @rtgdk do you know which features will be impacted by this?  I haven't gotten any emails recently from Github, so I'm not sure if this is still an issue.

[2020-07-15 21:41] goneall opened #199 "New Production Deployment Meta Issue"
This issue is to track all of the sub-issues and tasks needed to upgrade the deployment for the SPDX online tools.

- [x] Containerize the SPDX online tools (issue #188)
- [x] Add environment variable for redis host (Issue #193)
- [x] Update docker configuration to use the redis host environment variables (Issue #207)
- [x] Decide on deployment Google Cloud or Amazon AWS (Issue #194)
- [x] Setup s

[2020-07-15 21:44] goneall commented on #199
@kmehant @Ugtan @rtgdk I created a new issues label "Production" and this meta-issue to track the steps to create a new and improved deployment infrastructure.  Let me know if I missed anything.  Feel free to comment in the individual issues.

[2020-07-15 21:46] goneall commented on #194
I would like to decide on this by July 27th so I can setup a sandbox environment running our current container definitions.

My current thinking is to use AWS, primarily because I a more familiar with the AWS services relative to Google.

@kmehant @Ugtan @rtgdk Let me know if you have any thoughts or preference.

[2020-07-15 21:51] goneall opened #200 "Unit test failure"
The following unit test is failing on the current master branch:

[code]

[2020-07-15 21:54] goneall opened #201 "Unit test failure - test_promote_license_namespace_feature"
The following test_promote_license_namespace_feature unit test fails:

[code]

[2020-07-15 21:55] goneall opened #202 "Unit test failure - test_post_submit"
The following test_post_submit unit test fails on the master branch:

[code]

[2020-07-15 23:28] Ugtan commented on #201
Hello, @goneall . I ran the test on my local machine and it seems to be working fine. You can refer to the screenshot. Could you please give some info on how to reproduce the error?

![image](https://user-images.githubusercontent.com/32966387/87609695-dedb0d00-c720-11ea-8969-ad9b501c7c1c.png)

[2020-07-15 23:39] Ugtan commented on #202
@goneall I'm getting a different error in my machine.

![image](https://user-images.githubusercontent.com/32966387/87609880-63c62680-c721-11ea-9147-b92f125c005e.png)

FYI, All the test cases that are failing are the once that were skipped because they require github credentials which is why these tests were not tested. I will take a look at it.

[2020-07-16 00:25] goneall commented on #202
I added the credentials to Git a couple weeks back - this may have exposed an issue that was introduced some time ago.  The errors are coming from the automated Git actions on checkin.

@Ugtan Thanks for looking into the issue.

[2020-07-16 07:57] anshuldutt21 commented on #142
@goneall No, I couldn't find a good alternative for the access token. Is there any problem with the authentication currently since in the mail it said access token parameter will be removed by July 1st.

[2020-07-16 09:03] kmehant commented on #194
Dealing with the production deployment, it will be good to go with the most familiar services so **+1 to AWS**

[2020-07-16 09:19] rtgdk commented on #200
This was introduced after https://github.com/spdx/spdx-online-tools/pull/154 got merged. This has already been raised at https://github.com/spdx/spdx-online-tools/issues/177 @anshuldutt21 Would you please fix this? Looks like if..else won't work. You would have to use try..catch. Also, please ensure that this test runs for admin user.

[2020-07-16 09:23] rtgdk commented on #194
@goneall Let's go ahead with **AWS** since they have the most active community and even if we face some issues, most probably the solution would be available on SO.

[2020-07-16 09:53] kmehant commented on #193
@goneall
Fixed at https://github.com/spdx/spdx-license-matcher/pull/4 and https://github.com/spdx/spdx-online-tools/pull/203

[2020-07-16 09:58] rtgdk commented on #142
@anshuldutt21 @goneall The issue is with passing "access_token" in query url as parameter(?access_token=<token>)...instead we should pass it through the api headers. In the email, the api mentioned is "https://api.github.com/user" which is only used in testing `test_submitlicense_api_with_valid_fields` in `api/tests.py` which passes the token correctly (in headers). I am not sure why we got this e

[2020-07-16 10:05] rtgdk commented on #201
It might be related to #142

[2020-07-16 10:39] Ugtan commented on #142
@rtgdk Correct. The only place we used the user api is in `test_submitlicense_api_with_valid_fields`. I don't think we have used `access_token` as a query string anywhere else in the codebase.

I'm not quite sure but I think one of the libraries we are using uses the `access_token` as a query parameter. It could be `social-auth-app-django` but I'm not sure. We can update the libraries to check if

[2020-07-16 10:42] rtgdk commented on #195
@goneall Apart from sql and redis, we store the file uploaded and converted in "/media" directory. This might cause issue when running instances on different nodes. We can also use s3 to store the files. I also found one more issue related to /media files in docker : https://stackoverflow.com/questions/58552837/maintain-the-media-files-after-build-with-docker-container-django.
I am not sure whethe

[2020-07-16 10:43] rtgdk commented on #195
I am not aware of any concurrency transaction issues in the online tools. But this can be tested once we have the application up and runnning.

[2020-07-16 10:47] Ugtan commented on #201
@goneall Token is nonetype. There is some issue with your GitHub token. Did you specify the `ACCESS_TOKEN` environment variable correctly?

[2020-07-16 11:17] rtgdk commented on #192
@goneall We definitely don't need "Deploy keys", "Webhooks and Services", "Wikis" and "Code" permissions to create an Issue in the license-list repo. Can you update the github app permission and try to create a dummy issue?

[2020-07-16 11:36] defensivedepth commented on #192
Unfortunately I still don't see how I could give this app read/write access to the settings/issues/pull requests for all of my public repos - If you only need the email address, I would think you could just select that permission?

[2020-07-17 01:06] goneall commented on #192
@rtgdk @defensivedepth I will experiment with the permissions.  Since we are creating an issue on behalf of the user, I believe we will need more than email permission, but I'll do some experiments and find out if there is a reduced set that will work.

[2020-07-17 01:29] goneall commented on #192
@rtgdk I did not find any settings for a finer grained access in the Github configuration.  It looks like the scope of the request is set in the settings at https://github.com/spdx/spdx-online-tools/blob/0173b08c59e3447bea1d09e85f35b067562c7cca/src/src/settings.py#L158

It is only asking for public repo and email.

Let me know if you know of a way to request finer grained permissions.

[2020-07-17 09:18] rtgdk opened #204 "Move to Github Apps for Submitting License Requests"
Currently, we use Github OAuth Apps to create issues in license-list and license-namespace repository. But Oauth apps have limited no of fixed permission with no way to modify read/write access. https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/#available-scopes
Github Apps provide finer-grained permissions - https://developer.github.com/apps/differences-bet

[2020-07-17 09:19] rtgdk commented on #192
@goneall Yeah, I tried a bunch of combinations but "public_repo" access is needed for Github Oauth apps. If we move to Github Apps, they have finer-grained permissions but Oauth apps seem to have a limited no of fixed permission with no way to modify the read/write access: https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/#available-scopes
Opened an issue fo

[2020-07-17 10:08] defensivedepth commented on #192
Thanks all for looking into this. You may want to consider modifying this particular workflow - you probably don't want to take on the risk of having your app have R/W access to user's public repos, just so that they can submit a request for inclusion of a new license.

At this point, I will submit my request via email -

[2020-07-17 15:16] goneall commented on #192
@rtgdk Thanks for the research on this.

@defensivedepth Agree with reducing the permissions.  Rather than email, you could submit an issue directly to the [SPDX License List XML repo](https://github.com/spdx/license-list-XML) rather than using the online tools app.

[2020-07-19 01:44] goneall commented on #201
The `ACCESS_TOKEN` environment variable is set in Github.

![image](https://user-images.githubusercontent.com/378172/87865173-aefd5680-c926-11ea-9f78-8938b9306277.png)

[2020-07-19 01:46] goneall commented on #195
Perhaps we should start simple by having a single instance running to avoid any possible issues with the storage.  Once we get that working, we can explore multiple instances.

[2020-07-19 01:49] goneall commented on #142
Good news on the deadline being moved out to May 2021 (thanks @Ugtan for the research).  It would still be nice to close on this, so perhaps we can update the libraries.

[2020-07-19 01:54] goneall commented on #194
AWS it is - I setup a separate account for the SPDX online tools.  I'll setup an RDS database next week and we can try a staging area with a deployed docker image.

[2020-07-22 19:30] defensivedepth commented on #192
@goneall Done, thanks!

https://github.com/spdx/license-list-XML/issues/1075

[2020-07-22 19:30] #192 closed

[2020-07-26 15:56] swinslow opened #206 "Add test .txt file editing for License XML Editor"
Adding issue here per @goneall's comment at https://github.com/spdx/license-list-XML/pull/1070#discussion_r460322458:

Currently, in the License XML Editor in the SPDX Online Tools, I believe it is only possible to edit the XML file. But the workflow for adding new licenses requires two files for each license:
* the XML file (e.g., [/src/BSD-3-Clause.xml](https://github.com/spdx/license-list-XML/b

[2020-07-28 01:27] #193 closed

[2020-07-28 01:45] goneall commented on #198
Based on the information Rohit provided in the concurrency issue #195 and the [Amazon instructions for setting up containers in ECS](https://aws.amazon.com/getting-started/hands-on/deploy-docker-containers/),  below is a proposed initial deployment architecture:

1) Amazon RDS PostgreSQL database
2) S3 storage for the media folders
3) Containers for the REDIS and Python application using Amazon El

[2020-07-28 01:45] goneall commented on #194
Resolved as a decision to use AWS.

[2020-07-28 01:45] #194 closed

[2020-07-28 01:51] goneall opened #207 "Update docker configuration to use the redis host environment variables"
Environment variables has been added to the SPDX online tools and SPDX license matcher (see PR #203 and https://github.com/spdx/spdx-license-matcher/pull/4 respectively).

We can now update the docker configuration to use the environment variables.

[2020-07-28 15:19] goneall commented on #207
This was already added in PR #203 - closing

[2020-07-28 15:19] #207 closed

[2020-08-02 05:10] goneall commented on #198
I tried out 3 different container deployment environments on AWS:

- Elastic Container Service (ECS)
- Elastic Kubernetes Service (EKS)
- Docker running on an EC2 instance

The container service looks promising, but is proprietary to AWS.  I was able to easily get an instance running, but it doesn't have the management flexibility of Kubenetes.

EKS was a rather involved process, but has a lot of

[2020-08-02 05:14] goneall commented on #198
@kmehant @rtgdk @Ugtan I am currently thinking of starting the EC2 instance documented in the [README-PRODUCTION.md](https://github.com/spdx/spdx-online-tools/blob/deploy-aws-ec2/README-PRODUCTION.md).  Also, feel free to review the commits in the branch.

We can upgrade to the EKS approach in the future when we need the additional scalability.

If you agree with the approach I can create a PR fro

[2020-08-02 05:18] goneall commented on #199
Sandbox has been created and can be accessed at http://13.57.134.254/

[2020-08-02 22:12] goneall opened #208 "Error comparing licenses in production test instance"
The following error occurs when running check license:

[code]

This occurs in the production test instance which can be accessed at http://52.32.53.255/app/check_license/

[2020-08-03 07:16] rtgdk commented on #208
The issue is caused by this PR : https://github.com/spdx/spdx-license-matcher/pull/1/files
In `spdx_license_matcher/build_licenses.py` , imports have been removed which are used later in the file.
cc @Ugtan @goneall

[2020-08-03 07:31] rtgdk commented on #198
@goneall Yeah, lets go with EC2 for now. I checked the diff of [deploy-aws-ec2](https://github.com/spdx/spdx-online-tools/blob/deploy-aws-ec2/) branch, lgtm.

[2020-08-03 15:46] kmehant commented on #198
@goneall ECS +1

[2020-08-03 15:55] goneall commented on #208
@Ugtan Do you want to submit a PR adding the imports?

@rtgdk Thanks for identifying the error.

[2020-08-03 16:01] Ugtan commented on #208
Sure @goneall.

[2020-08-04 03:10] goneall commented on #208
I merged the PR - it solved the initial problem.

However, I ran into a different error when the license text did not exactly match:

[code]

[2020-08-04 18:04] goneall opened #209 "Create an SPDX file for online tools"
Request from @kestewart on the 4 August tech call to add an SPDX file for the online tools as part of our deployment efforts.

[2020-08-04 18:04] goneall commented on #209
@ekongobie Is your python plugin ready to try on the online tools?

[2020-08-04 18:04] goneall commented on #209
@tsteenbe offered to run ORT - suggest we do this once we have the image we plan to deploy.

[2020-08-05 20:13] rnjudge commented on #199
I saw that there was a PR merged to containerize the SPDX tools but can't find any corresponding documentation on how users would actually create/utilize the SPDX tools container. Does this exist somewhere?

[2020-08-05 23:32] goneall commented on #199
The original PR has some instructions in the PR itself: https://github.com/spdx/spdx-online-tools/pull/188

I wrote up the production deployment instructions for the containers for the 2 deployment configurations I tested with the containers:

* [Kubernetes based deployement](https://github.com/spdx/spdx-online-tools/blob/kubernetes/README-PRODUCTION.md)
* [AWS EC2 Docker Deployment](https://githu

[2020-08-06 00:03] Ugtan commented on #208
@goneall The getListedLicense function uses spdx tools to get a spdx listed license from the license ID.

Gunicorn has aborted the process for some reason. I found [this](https://stackoverflow.com/questions/52993280/why-is-gunicorn-calling-sys-exit1) on the internet. I guess changing the timeout value might help. Refer to [the](https://docs.gunicorn.org/en/stable/settings.html#timeout) link to add

[2020-08-06 22:27] goneall commented on #208
@Ugtan Thanks for the research.  I think I know what's happening.  The first time you call the license match in Java, it loads all of the licenses from the internet which can take some time - likely causing a timeout.  I'll find a way to pre-load the licenses and see if that works.

[2020-08-06 22:33] Ugtan commented on #208
@goneall If that's the case then let me know if you find a way to preload the license or else, we have have to find another way to build the licenses in the database.

[2020-08-09 00:06] goneall opened #211 "For a close license match, display a yellow caution and update the wording"
Currently, when there is a very close match (e.g. only one word different), the message is displayed in green with the message "Close match found! The following license ID(s) match...".

Since even a one word change could be an issue, suggest changing the color of the dialog to yellow and changing the message to "Close match found.  Compare the license text before submitting a new license.".

[2020-08-09 01:20] goneall commented on #208
@Ugtan I just updated the branch with a fix when there is a 100% match - it now works 👍

Unfortunately, if there isn't a perfect match, I'm getting a timeout.  Before my fix, I didn't get a timeout if there wasn't a perfect match, so I'm not sure what has changed.  I suspect it may be a configuration problem, but I'm not sure.

I'll do a bit more research tomorrow.

[2020-08-09 01:29] goneall opened #210 "All matches on submitting license text show as "close""
If you enter a new license submittal with any text, it will show a green dialog box with the message "Close match found".  It should have an message that it does not match.

This may have been introduced with the recent PR for fixing the one word match fix https://github.com/spdx/spdx-license-matcher/pull/1

[2020-08-09 01:30] goneall commented on #208
Just an update - I tried this on my development docker instance and it takes 40 seconds (!)  Not sure what is is computing, but it does eventually return.

It looks like we have a performance issue with near matches.  If the match is perfect, the performance is acceptable.  If the match is way off, the performance is good.

@Ugtan if you could do some investigating, that would be great.

I also no

[2020-08-09 22:34] goneall commented on #198
This is somewhat described in the README-PRODUCTION.md in PR #212

[2020-08-09 22:34] #198 closed

[2020-08-09 22:36] goneall commented on #210
Added a more detailed issue for the UI: #211

[2020-08-09 22:38] goneall opened #213 "Slow performance for near matches"
It is currently taking between 10 and 40 seconds if there is a near match on a CheckLicense.

[2020-08-09 22:39] goneall commented on #208
The error was resolved with PR #212 which increases the timeout.

Added a new issue to track the performance issue #213

[2020-08-09 22:39] #208 closed

[2020-08-11 23:49] Ugtan commented on #208
The performance issue could be because we are bound to use a bridge to run java code in python. But, I will try to look for a workaround that will help in the computation speed.

[2020-08-15 20:25] goneall opened #215 "Change message when submitting license update request"
When there is a near match of a license when submitting a new license request, the user is prompted to compare the licenses.
 When the user chooses the option that the licenses should match, an issue is submitted requesting the license to be updated.

The message displayed seems to indicate a new license request is submitted.  The message be changed to something like "A request has been sent to up

[2020-08-15 20:32] goneall opened #216 "Need to configure License Text Diff"
This is an issue for the production instance.

Issues submitted to update the license text point to https://github.com///blob/master/3y7usicope.png which seem to be missing github account.

See https://github.com/spdx/TEST-LicenseList-XML/issues/77 for an example.

This likely needs to be configured.

[2020-08-15 20:32] goneall commented on #216
@Ugtan Do you know what needs to be configured for the license diff repo?

Gary

[2020-08-16 20:39] Ugtan commented on #216
@goneall Please check out this comment for info https://github.com/spdx/spdx-online-tools/pull/136#issuecomment-533274704. Also, Instead of hardcoding these, we should take these inputs from the environment variables just like we are using the `spdx-prod.env` in production.

[2020-08-16 20:52] Ugtan commented on #215
When the user chooses the option that the licenses should match, an issue is submitted requesting the license to be updated.

@goneall If the license is a close match, the user is prompted to choose if the changes made by the user is substantial or if they think the licenses should match.

If the changes are substantial a new request i.e GitHub issue is created so "A new license request" makes mor

[2020-08-17 01:41] goneall commented on #215
Their response indicates that the changes are not substantial and the licenses should match, so the issue created is correct.  It is just the message displayed back to the user isn't correct.  The message states that a new license request is submitted when in fact it is an issue requesting the licenses to match.

Only the message displayed to the user needs to be updated.  I thought the issue subm

[2020-08-26 14:47] rtgdk opened #218 "Store license diff screenshot in database instead of uploading to github"
Currently we upload the diff of the license text on a separate diff repo (see `DIFF_REPO_WITH_OWNER`  in `settings.py`). Instead of uploading to github, we can directly save the static file in the database. Django provides BinaryField to store raw binary data.

Some links, articles and group conversations.
1. https://docs.djangoproject.com/en/3.1/ref/models/fields/#binaryfield
2. https://groups.go

[2020-09-01 03:34] goneall commented on #216
Resolved with PR #217

[2020-09-01 03:34] #216 closed

[2020-09-01 03:37] goneall commented on #197
Setup at http://52.32.53.255

[2020-09-01 03:37] #197 closed

[2020-09-01 03:38] goneall commented on #196
Assigned: http://13.57.134.254/app/

[2020-09-01 03:38] #196 closed

[2020-09-01 03:47] goneall commented on #189
I found 2 docker configurations for SSL using nginx:

1. https://medium.com/faun/setting-up-ssl-certificates-for-nginx-in-docker-environ-e7eec5ebb418
2. https://testdriven.io/blog/django-lets-encrypt/

I'm leaning to the 1 as it is simpler and (I think) we can preserve the redirect to production.

We can use either certbot or let-encrypt.

@swinslow @rtgdk @Ugtan @kmehant Any thoughts?

[2020-09-01 16:30] rtgdk commented on #189
Let's go with `certbot`. I think certbot itself is a wrapper over `lets-encrypt`

[2020-09-04 19:02] goneall commented on #189
I added PR #219 to resolve this issue

[2020-09-06 21:23] goneall commented on #199
Note: Sandbox IP changed (comment above has also been corrected): http://52.32.53.255/app/

[2020-09-06 22:11] goneall opened #221 "Github login not working with SSL enabled"
When using SSL, the following error occurs when trying to login using Github:

[code]

[2020-09-06 22:13] goneall commented on #221
The Github Oauth configuration will need to be updated to use https:// and the domain tools.spdx.org once we go live.  I'll make that change just before going into production with the new code.

[2020-09-07 00:01] goneall opened #222 "spdx-license-matcher not current in production container"
Rebuilt the production container by running `pip-install -r requirements.txt` then running `docker-compose -f docker-compose.prod.yml build`.  The image produced has the spdx-license-matcher as a subdirectory of spdx/src.  Examining the sub-directory, the image is behind master by a commit (2 file changes).  Expected behavior is for the package to be current as of the time of the build.

[2020-09-07 00:05] goneall opened #223 "Error when submitting close item"
The following error occurred in the sandbox instance when submitting a close matching license and selecting that the licenses should match:

[code]

[2020-09-07 00:13] goneall opened #224 "Change allowed hosts for production"
The allowed hosts in the settings.py is currently '*' which is insecure.

When not in debug, this should be set to the appropriate allowed values.

[2020-09-07 18:22] goneall opened #225 "Error handling for postScreenShot does not render correctly"
The code at https://github.com/spdx/spdx-online-tools/blob/13e707b8b3e7bcfb72ccf502bfc452ecdc6ee653/src/app/static/js/editor/postscreenshot.js#L52 will display the attached dialog which does not display the error information.
![image](https://user-images.githubusercontent.com/378172/92411361-595e5280-f0fc-11ea-8087-104fe2c56aca.png)

[2020-09-07 18:32] goneall commented on #223
Turned out to be a browser caching issue

[2020-09-07 18:32] #223 closed

[2020-09-07 19:14] goneall commented on #210
Resolved with spdx/spdx-license-matcher#8

[2020-09-07 19:14] #210 closed

[2020-09-07 19:17] goneall opened #226 "Compare for the SPDX 2.2 examples fail"
When comparing the [tag/value](https://github.com/spdx/spdx-spec/blob/development/v2.2.1/examples/SPDXTagExample-v2.2.spdx) and [RDF](https://github.com/spdx/spdx-spec/blob/development/v2.2.1/examples/SPDXRdfExample-v2.2.spdx.rdf.xml) SPDX 2.2 example files, the compare fails with the following error:

![image](https://user-images.githubusercontent.com/378172/92413221-f1ac0580-f103-11ea-865c-ffeca

[2020-09-07 19:19] goneall opened #227 "Compare and Spreadsheet result file types incorrect"
The file extensions for the spreadsheets should be "xls" instead of "xlsx".

[2020-09-07 19:22] goneall opened #228 "Add another organization in namespaces has missing image"
See http://52.32.53.255/app/submit_new_license_namespace/ after "Organization".

[2020-09-07 19:23] goneall commented on #228
The missing image HTML element is:

[code]

[2020-09-14 07:04] vcmgc27 opened #232 "ERROR: Command errored out with exit status 128: git clone -q git://github.com/spdx/spdx-license-matcher.git /opt/spdx/spdx-online-tools/venv/src/spdx-license-matcher Check the logs for full command output."
Hi

When running pip install -r requirements.txt, it throws below error:

ERROR: Command errored out with exit status 128: git clone -q git://github.com/spdx/spdx-license-matcher.git /opt/spdx/spdx-online-tools/venv/src/spdx-license-matcher Check the logs for full command output.

Not able to complete the installation. Need help in this.

Instance is "Ubuntu"
Git is installed with version 2.28.0

[2020-09-14 09:16] vcmgc27 opened #233 "Installation Error: No Module named secret"
Hi

When executing "python src/manage.py migrate" . Getting below error.

(venv) root@ip-10-68-216-147:/opt/spdx/spdx-online-tools# python src/manage.py migrate
Traceback (most recent call last):
  File "src/manage.py", line 22, in <module>
    execute_from_command_line(sys.argv)
  File "/opt/spdx/spdx-online-tools/venv/lib/python3.5/site-packages/django/core/management/__init__.py", line 364, in

[2020-09-14 23:59] goneall commented on #232
I wasn't able to duplicate the problem on my computer, but I did find this [Stack Overflow article](https://stackoverflow.com/questions/9617336/how-to-resolve-git-did-not-exit-cleanly-exit-code-128-error-on-tortoisegit) on exit code 128.  You might try configuring your username and email.

You may be able to get more details from the pip installation log.

[2020-09-15 00:51] goneall commented on #233
See the [developer secrets section of the README](https://github.com/spdx/spdx-online-tools/blob/master/README.md#github-developer-sensitive-data).  You need to create the secrets file on your local system.

[2020-09-15 04:57] vcmgc27 commented on #233
Need to create below values in .env file right in /spdx-online-tools/src/src directory right?

ONLINE_TOOL_GITHUB_KEY
ONLINE_TOOL_GITHUB_SECRET
DJANGO_SECRET_KEY
OAUTH_APP_ID
OAUTH_APP_SECRET

Created Github key and github secret, Need help in getting Django secret key, OauthAPPID and OAuthAppSecret. Based on the steps here: https://github.com/spdx/spdx-online-tools/blob/master/README.md#django-oa

[2020-09-15 22:13] goneall commented on #233
This may be due to the `.gitignore` set to ignore secrets.py file.

I created a PR to remove the .gitignore for the secrets.py file.

@vcmgc27 try fetching and switching to the branch `addinsecret`.  It that works, I can merge in the changes.

[2020-09-16 00:31] alandtse opened #235 "Tools.spdx.org GitHub oauth redirect uri mismatch"
This is probably covered in #221 but adding it in case it isn't tied to SSL specifically

The http://13.57.134.254/app/submit_new_license/ page currently fails the GitHub OAUTH with a HTTP 500 because it redirects back to the static IP.

The oauth returned link from GitHub indicates the error is a uri mismatch because it doesn't match the registered callback:
http://13.57.134.254/oauth/complete/gi

[2020-09-16 16:22] goneall commented on #235
thanks @alandtse for reporting this.

When I tried, I was able to successfully logout/login if I used the old static IP address http://13.57.134.254/ however, if I access the site through https://tools.spdx.org, I got the 500 error mentioned above.

@alandtse can you confirm that it works when accessing the site using the IP address?

Updating the configuration to redirect to https://tools.spdx.or

[2020-09-16 19:22] alandtse commented on #235
Yes, straight IP address works for me.

[2020-09-16 21:29] goneall commented on #235
Resolved with PR #236

[2020-09-16 21:29] #235 closed

[2020-09-17 06:59] rtgdk commented on #233
@vcmgc27  @goneall I think the error is because tool is being setup in python3. Since [implicit relative import does not work in python3.](https://chrisyeh96.github.io/2017/08/08/definitive-guide-python-imports.html#python-2-vs-python-3) The `master` branch works on python2.7 for now. There's another branch - `rtgdk_python3` where we are migrating tool to python3. Most of the changes are done in #

[2020-09-17 17:52] goneall commented on #228
Resolved by PR #230

[2020-09-17 17:52] #228 closed

[2020-09-17 17:53] goneall commented on #227
Resolved by PR #231

[2020-09-17 17:53] #227 closed

[2020-09-17 17:53] goneall commented on #226
Resolved by PR #231

[2020-09-17 17:53] #226 closed

[2020-09-18 23:33] goneall opened #237 "How do we "authorize" users to archive license requests?"
The archive license requests is only allowed for authorized users.

Since the logins are now done by Github, creating a superuser for this function won't work.

How do we enable an existing user to be authorized for these functions?

[2020-09-18 23:51] goneall commented on #237
I found that code that checks the permissions at:

https://github.com/spdx/spdx-online-tools/blob/415fcecd01a9fa08036dbe53ad392c476de59c4c/src/app/utils.py#L56

When I use the production instance at http://13.57.134.254/app/ my username is goneall9ea2cb6faa12445f and I am authorized.

On the test instance at http://52.32.53.255/app, my username is goneall and I am not authorized.

[2020-09-19 08:52] rtgdk commented on #237
@goneall It checks if the user has collaboration access to https://github.com/spdx/tools-python/. Can you check your github login username from superadmin on the test instance (Not sure if `goneall9ea2cb6faa12445f` is github login username or django db username)? I am not a superadmin so I couldn't check. (Also, maybe we need to change the repo to https://github.com/spdx/license-list-XML?)

Also,

[2020-09-21 06:59] vcmgc27 commented on #233
Thanks @rtgdk will try this branch mentioned above. Also, need help in creating this env file with below details:
ONLINE_TOOL_GITHUB_KEY
ONLINE_TOOL_GITHUB_SECRET
DJANGO_SECRET_KEY
OAUTH_APP_ID
OAUTH_APP_SECRET

[2020-09-21 17:42] goneall commented on #215
Resolved with PR #231

[2020-09-21 17:42] #215 closed

[2020-09-21 17:55] goneall commented on #142
I started getting the emails again about this being deprecated.

I found this issue in `social-auth-app-django` : https://github.com/python-social-auth/social-core/issues/430

which was fixed in PR https://github.com/python-social-auth/social-core/pull/428

which is in version 3.4.0.

We're current at version 2.1.0.

It looks like updating to version 3.4.0 should resolve this.

[2020-09-21 23:20] goneall commented on #237
After reading through the code, it looks like the fix for authorizing the archive function was inside the post code.  I submitted PR #237 to resolve.

[2020-09-22 11:20] rtgdk commented on #233
@vcmgc27 The instructions to setup is given here - https://github.com/spdx/spdx-online-tools#github-developer-sensitive-data
For setting up Github Oath app- You can follow https://developer.github.com/apps/building-oauth-apps/creating-an-oauth-app/

[2020-09-24 15:25] swinslow opened #240 "Add / modify fields for New License Request"
Followup from #1108, filing here at @goneall's request:

From @vmbrasseur:

I'm +1 on adding a field to list URLs to example projects using the license, this is info we almost always want.

I'll take another look through the inclusion principles to see if there's more we want to ask.

[2020-10-01 16:02] RishabhBhatnagar opened #241 "[Suggestion] Automatic Output File Name"
While testing [/app/convert/](http://52.32.53.255/app/convert) converter, I was required to enter the name for the converted file. It would've been better if the application auto-set the converted file's basename the same as that of the input file.
For example: if "input.rdf" is the input file that is to be converted to xls format, the converted file name could've been set to "input" as a placehol

[2020-10-01 16:31] RishabhBhatnagar opened #242 "Probably Lossy or Erroneous Conversion"
Converting [file](https://drive.google.com/file/d/1Z0twYcbzI5VjyT4uoTaE7aLG2-r5eiWp/view?usp=sharing) back and forth between rdf/xml and tag caused the [/app/convert/](http://52.32.53.255/app/convert) to panic.

I was able to convert the rdf/xml file to tag-value format but while retrieving the rdf/xml file, it raised the following error:
`Error creating SPDX Analysis: Invalid license expression.

[2020-10-02 09:15] js899 commented on #241
cani take up this issue ? plz assign it to me

[2020-10-09 12:26] shalika10 commented on #241
hey @RishabhBhatnagar  can you explain the problem statement  in detail with example ?would like to contribute to it

[2020-10-09 12:42] RishabhBhatnagar commented on #241
Hello @shalika10, In the [/app/convert](http://52.32.53.255/app/convert/) website, upon uploading a document, the label corresponding to `Converted File Name` must set the placeholder value same as that of the uploaded file's name.
An example is already provided in the issue description.

[2020-10-10 02:36] #222 closed

[2020-10-24 21:31] goneall commented on #242
There were 2 issues in the RDF/XML files that needed to be changed:

- Removed 2 concludedLicense definitions for one of the packages - the cardinality is 1
- Replaced the URI's http://spdx.org/licenses/NOASSERTION and http://spdx.org/licenses/NONE with http://spdx.org/rdf/terms#noassertion and http://spdx.org/rdf/terms#none

An updated test file is attached.

I also updated the SPDX tools to addr

[2020-10-25 00:41] goneall opened #249 "URL's are limited to only one even though the UI accepts multiple"
The submit_new_license form accepts multiple source / URL in the UI by clicking on the "add a source".

This information is not included in the database nor the issue.

The form looks like it is just a simple charfield: https://github.com/spdx/spdx-online-tools/blob/6599e81df10f3131f6171c99fc83fee3a8bb00a8/src/app/forms.py#L81

Looking at the views, it simply stores the charfield as a single eleme

[2020-10-25 00:42] goneall commented on #249
I could really use some help on this one from someone more experienced in Django.  Is there a different field that should be used?

[2020-10-25 20:25] rtgdk commented on #249
@goneall A simple way would be to use a TextField instead of a CharField and add all source urls either comma-separated or json formatted(preferred).
If you face any difficulty, I can work on this as soon as I get some time(too busy with work). Will raise a PR by end of this week.

[2020-10-26 18:32] goneall commented on #249
@rtgdk Did a bit of work on this without much progress.

I couldn't find a TextField in the Django form package/file.  I looked through the source code for a field which would work and didn't find anything that would work for multiple values.

I was able to get the request.POST object to include all the values, but I wasn't able to access it from the Python side.

Here's the output from the debugg

[2020-10-27 17:12] rtgdk commented on #249
@goneall There's a TextField in django models https://docs.djangoproject.com/en/3.1/ref/models/fields/#textfield. For storing all the urls as list/json encoded, we would have to change the model field first. For django forms, suprisingly I couldn't find corresponsing textfield. The docs says that since Charfield and TextField differ only in the ui widget they show (for TextField it's textarea, for

[2020-10-28 22:16] goneall commented on #249
I think I figured out how to get multiple values - `request.POST` is a type `QueryDict` which has a method to return a list.  I updated the views.py file to call `request.POST.getlist('sourceUrl')` but ran into another issue.  I'll continue working on it and hope to have an update soon.

[2020-10-28 22:47] goneall commented on #249
Resolved with commit https://github.com/spdx/spdx-online-tools/pull/248/commits/d2f7d095217ea874bde226f0d26fd5dac8f7766c in PR #248

[2020-10-30 23:30] #249 closed

[2020-10-30 23:31] goneall commented on #240
resolved with PR #248

[2020-10-30 23:31] #240 closed

[2020-10-30 23:34] goneall commented on #242
Resolved in PR #247

[2020-10-30 23:34] #242 closed

[2020-11-05 16:45] jlovejoy opened #252 "license request tool: add text to top of page"
Can we add some text to the top of this page along the lines of:

"Please review the SPDX License List [license inclusion principles](https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md) before submitting a new license.
Once you have submitted a license, please follow the [issue in Github](https://github.com/spdx/license-list-XML/issues) and be prepared to hel

[2020-11-05 17:38] swinslow commented on #252
"Please review the SPDX License List license inclusion principles before submitting a new license.
Once you have submitted a license, please follow the issue in Github and be prepared to help create the required XML and test text files if the license is accepted for submission."

[2020-11-09 07:30] rtgdk opened #254 "Fix requirement install with pip's new dependency conflict resolving"
When running pip install -r requirements.txt , got this
[code]

When running `pip install -r requirements.txt --use-feature=2020-resolver`, it shows
[code]

[2020-11-09 07:30] rtgdk commented on #254
This occured while working in python3 branch (`rtgdk_python3` #205 ). Plan to fix both python3 upgrade and this issue by the end of this week.

[2020-11-09 20:02] kestewart opened #255 "Problem when Validating 2.2 Tag/Value file."
When trying out the test site, and using validate I get.

No enum constant org.spdx.tools.SpdxToolsHelper.SerFileType.Tag

Test file is from:
https://github.com/rjb4standards/REA-Products/blob/master/SAG-PM.spdx
(using Tag/Value)

[2020-11-10 01:12] goneall commented on #255
Resolved in PR #256 - Note: the staging/test website http://52.32.53.255/ has not been updated.  It will be updated prior to going into production

[2020-11-10 01:12] #255 closed

[2020-11-19 20:07] #252 closed

[2020-11-19 20:08] #237 closed

[2020-11-19 21:26] #211 closed

[2020-11-19 21:32] #195 closed

[2020-11-20 01:05] goneall opened #259 "None Attribute Error processing LicenseListXML Issues"
While deploying the production environment, a None attribute error (e.g. null pointer) occurred in the `get_license_data` function of utils.py.  This was due to a search not yielding a result in the following line:

`licenseIdentifier = re.search(r'(?im)short identifier:\s([a-zA-Z0-9|.|-]+)', licenseInfo).group(1)`

This may be resolved with PR #258 where the exception is basically ignored.  This

[2020-11-20 01:08] goneall opened #260 "Redirect for the Github Authorization should use HTTPS rather than HTTP in production"
I'm not sure if this is a security vulnerability, but the redirect probably should use HTTP rather than HTTPS.

Just changing it to HTTPS will likely mess up those running the spdx-online-tools in test environments or local development environments.

Perhaps the System configuration debug could be checked and the appropriate redirect made.

NOTE: the Github Auth configurations need to be updated t

[2020-11-20 01:19] goneall commented on #224
Resolved in PR #258

[2020-11-20 01:19] #224 closed

[2020-11-20 01:19] goneall commented on #221
Resolved in PR #258 - however there is now a new issue #260

[2020-11-20 01:19] #221 closed

[2020-11-20 01:19] goneall commented on #189
Resolved in PR #258

[2020-11-20 01:19] #189 closed

[2020-11-20 01:20] goneall commented on #199
This has now been fully deployed 👍

[2020-11-20 01:20] #199 closed

[2020-11-20 03:25] alandtse opened #261 "Static content returning 404 errors"
Loading the new site at https://tools.spdx.org/ returns a broken page that appears to be missing resources form /static/. Tested in both chrome and firefox.

Here's my chrome console logs:
[code]

Screenshot:
![image](https://user-images.githubusercontent.com/7086117/99754267-e4fd4380-2a9c-11eb-992b-ecdf583c72b7.png)

[2020-11-20 03:37] goneall commented on #261
@alandtse Thanks for posting this - I was able to duplicate the problem after clearing my browser cache.

[2020-11-20 04:01] kestewart opened #262 "502 on new site"
Just tried new site at https://tools.spdx.org/ and got
502 Bad Gateway
nginx/1.15.12

[2020-11-20 04:33] goneall commented on #261
Resolved with PR #258 commit https://github.com/spdx/spdx-online-tools/pull/258/commits/f43b105b3841e1f057f8255615effd72ddb0c09d

Thanks again @alandtse for pointing this out so quickly!

[2020-11-20 04:33] #261 closed

[2020-11-20 04:39] goneall commented on #262
This was due to me messing with the site resolving issue #261

Give it another try and let me know if you run into any problems.

[2020-11-20 04:39] #262 closed

[2020-11-22 05:03] alandtse opened #263 "Uncaught ReferenceError: CodeMirror on Submit New License page"
Visiting https://tools.spdx.org/app/submit_new_license/ results in the following JavaScript error.

Chrome:
[code]

Firefox:
[code]

May be related to #261.

Noticed this testing my Submit license feature in spdx-license-diff and noticing it was broken trying to inject the autofill code.

[2020-11-22 18:02] goneall commented on #263
@alandtse Thanks for reporting this.

It turns out that this is unrelated to the deployment.  I was able to reproduce it on my local machine.

I doesn't seem to affect any of the functionality on the web page since the CodeMirror editor does not seem to be in use.

I put in PR #265  to remove the reference.

I also patched the production machine to remove the reference.

@alandtse Let me know if y

[2020-11-23 17:27] rtgdk commented on #259
From the flow, it looks like it checks the license list repo for all the closed issue and searches for  `short identifier: <id>` in the issue body. One fix would be to allow any no of spaces between `:` and `<id>`.
`\s+([a-zA-Z0-9|.|-]+)`
For all issues raised by the online tools, we have only 1 space in between. (utils.py line 340)

[2020-11-23 17:35] rtgdk commented on #260
@goneall Which code needs to be updated? I think only Github configuration needs to be changed.

[2020-11-23 21:03] goneall commented on #260
@rtgdk I'm not sure where the code is that needs to be updated, but there is a call to the Github API's where a URL is passed as a parameter for the authentication callback.  That code should be changed from `http://` to `https://`

[2020-11-23 21:49] goneall opened #266 "SSL Certification Renewal failure"
The Certbot SSL certificate renewal is failing with the following message:

[code]

The domain name looks correct and the IP address looks correct.

[2020-11-23 21:52] goneall commented on #266
@swinslow @Ugtan @rtgdk Let me know if you have any ideas on this one.

The script just does a certbot renew: https://github.com/spdx/spdx-online-tools/blob/5e6a14c38c416a2a48c1a752f03afe8f57352070/docker-compose.prod.yml#L25

This is somewhat urgent as the certificate is set to expire by Dec. 10th.

One thing I could do is re-issue a new certificate using the script: https://github.com/spdx/spdx-

[2020-11-23 23:44] swinslow commented on #266
I've never set up certbot using docker or docker-compose -- when I've used certbot in the past it has been by following the [DigitalOcean instructions](https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-20-04) which assume you're on a virtual machine.

Looking at the error though, it looks like:
* the Let's Encrypt validation server is trying to query

[2020-11-30 00:56] mandel59 opened #267 "SPDX-Online-Tools shows error message for License in Japanese"
I've submitted the license text from https://creativecommons.org/licenses/by-sa/2.1/jp/legalcode, and I've got the following message:

![image](https://user-images.githubusercontent.com/1079715/100558353-6a7cc100-32f1-11eb-9919-87f500c51e25.png)

[2020-11-30 06:54] goneall commented on #267
@rtgdk @Ugtan Any ideas on how to resolve this issue?

[2020-11-30 17:49] rtgdk commented on #267
This happens because we are trying to pass a Unicode string containing non-English characters (characters beyond 128) to something that expects an ASCII bytestring and then trying to encode it again to unicode with utf-8.
I am not sure why this didn't work already since we have set default encoding for the files as utf-8 (first line of every python file). There are a couple of ways to fix this:
1.

[2020-11-30 17:50] rtgdk commented on #267
Also, this error is specific to python2 since unicode/str differentiation is removed in python3.

[2020-11-30 18:03] Ugtan commented on #267
@rtgdk You are absolutely right. This error is due to the reason mentioned by you above. And, yeah it is limited to python 2 only. Thumbs up for the point 3, wasn't aware of it.

[2020-12-01 01:11] goneall commented on #267
Setting a breakpoint and looking at the "string" in the debugger shows that the string is already a unicode class encoded in UTF-8.

The existing code looks like it is trying to do 2 things:
1. make sure it is a unicode type by encoding at UTF-8
2. unescape any escaped values using the `string_escape` [Python codec](https://docs.python.org/2/library/codecs.html#standard-encodings)

I added a pull

[2020-12-01 17:41] rtgdk commented on #267
I think we would be fine without string_escape since the values the django form would be receiving would be in the form above. Also decoding with string_escape returns a string (ascii) which will not work for non-English characters. There should be a somewhat neater way to do this which handles both the cases, but for now PR looks fine to fix this.

[2020-12-01 17:43] rtgdk commented on #267
Btw for unicodes we can use unicode_escape to handle escaping, but I think let's not do that right now.

[2020-12-01 18:02] goneall commented on #267
@rtgdk Thanks for the review.

I just grepped the source and found two more `str.decode('string_escape')` calls in views.py:

- https://github.com/spdx/spdx-online-tools/blob/5e6a14c38c416a2a48c1a752f03afe8f57352070/src/app/views.py#L128
- https://github.com/spdx/spdx-online-tools/blob/5e6a14c38c416a2a48c1a752f03afe8f57352070/src/app/views.py#L159

I'll investigate whether these could cause the sa

[2020-12-01 20:57] goneall commented on #267
The other 2 calls to decode did indeed cause an issue.  I verified that the strings being passed are already unicode and do not have escaped strings when entered from the UI.

I've removed them in the PR.

[2020-12-01 23:10] goneall commented on #266
Resolved by PR #269

[2020-12-01 23:10] #266 closed

[2020-12-01 23:11] goneall commented on #267
Resolved with PR #268

This has now been deployed to production.

@mandel59 Thank you for the reporting the issue.  Please let let us know if you run into any further issues.

[2020-12-01 23:11] #267 closed

[2020-12-01 23:12] goneall commented on #263
This has been resolved in PR #265 and deployed to production.

[2020-12-01 23:12] #263 closed

[2020-12-01 23:12] goneall commented on #259
This has been resolved in PR #258 and deployed to production.

[2020-12-01 23:12] #259 closed

[2020-12-08 07:40] #254 closed

[2020-12-10 16:36] rtgdk opened #272 "Bytes to str conversion results in malformed xml in Python3"
Discussion - https://github.com/spdx/spdx-online-tools/pull/205#issuecomment-742222481

[2020-12-10 19:37] goneall commented on #272
I did some more research and the data is stored incorrectly in the database.

In the Python3 version, prepended with b:

[code]

I looked at the production database, and the string is just stored as XML:

[code]

[2020-12-10 19:44] goneall commented on #272
The xml string is created by a call to `xml.etree.ElementTree.tostring(root, method='xml')` at https://github.com/spdx/spdx-online-tools/blob/408cd70933b1814e4002d7172d01f12bb535c132/src/app/generateXml.py#L155

The return return value is:

`b'<SPDXLicenseCollection xmlns="http://www.spdx.org/license"><license isOsiApproved="true" licenseId="testid" name="Test License [Please Ignore]" listVersionA

[2020-12-11 16:13] rtgdk commented on #272
Yeah, turns out the issue is with the module - `import xml.etree.ElementTree as ET`. Went into the `ElementTree` codebase it returns bytes by default if encoding is not provided. 2 ways to do this
Either do `xmlString = xmlString.decode("utf-8")` or use `xmlString = ET.tostring(root, method='xml', encoding='unicode')`
More info - https://stackoverflow.com/questions/15304229/convert-python-elementt

[2020-12-11 16:17] rtgdk commented on #272
@goneall So as I understand correctly, Python2 database looks fine - all the relevant fields are stored as normal string right? This issue occurred because you saved some license with Py3 which saved it as bytes. Right?

If yes, then to fix this - we need to go through the codebase to find more usage of str(..), unicode(..)) etc and add decoding/encoding accordingly. If no, then we would have to f

[2020-12-11 17:44] goneall commented on #272
Yes - that is correct

I can think of two things we could do:

- Grep the code base for `str(` and `unicode(` then review the occurrences
- Run some manual tests to create database entries and compare them to the Python2

The latter would catch issues which may be caused by library calls to str(..) and unicode(..).

@rtgdk Are there any other steps you can think of?  Also, should we grep for any o

[2020-12-13 05:20] rtgdk commented on #272
Apart from `str(` and `unicode(` explicit conversions, we also need to check any implicit conversions as well like some module function call - eg: `ET.tostring(root, method='xml')`.
We can also grep `decode/encode/utf-8/unicode/`

[2020-12-16 23:20] goneall opened #274 "In Python3 - error writing XML to file"
When downloading the xml file for a license submittal, the following error occurs:

[code]

[2020-12-16 23:28] goneall opened #275 "In Python3 - license text is displayed as a byte type"
When selecting to view a license request from the license requests table, the text shows prepended with `b'` and the quotes are escaped.

The full display is below:

[code]

[2020-12-16 23:30] goneall commented on #272
This specific problem has been resolved with the PR #273  however, there are 2 new problems which now show up - issue #275 and issue #274

[2020-12-17 00:51] goneall commented on #272
Resolved issues #275 and #274 with PR #276

[2020-12-17 00:52] goneall commented on #272
I reviews all the calls to ET in utils.py which involve encoding.  Later this week, I'll grep for the other encoding related items.

Note that `open(...` also can have encoding issues.  I reviewed all the calls to open in views.py and fixed all the identified issues in PR #276

[2020-12-18 00:30] goneall commented on #272
I reviewed the strings and found a couple of areas that should be looked at by someone more experienced in Python.  @rtgdk @Ugtan If you could take a look and see if there are any encoding issues.

The review was done on the branch [fixencodinggo ](https://github.com/spdx/spdx-online-tools/tree/fixencodinggo)which includes all the fixes to date.

The utils method get_license_data should be reviewe

[2020-12-29 03:03] goneall opened #277 "XML editor Beautify creates 500 server response in production"
To reproduce, upload an XML file and in the SPDX online tool XML edit function and select Beautify.

No further information could be found in the client log or in the server logs.

[2020-12-29 03:43] goneall commented on #277
Found the following in the src/errors.log file:

[code]

[2021-01-10 10:23] rtgdk commented on #272
@goneall Updated PR with some more encode/decode changes. Regarding `str(` changes, I think we will be good without them. We just don't want bytes in our database.

[2021-01-10 23:46] goneall commented on #275
Resolved in PR #276

[2021-01-10 23:46] #275 closed

[2021-01-10 23:47] goneall commented on #275
Resolved with PR #276

[2021-01-13 00:17] goneall opened #280 "Error in validating tag/value file type"
When validating tag/value files, the following error is produced:

`Class org.spdx.tools.SpdxToolsHelper$SerFileType not found`

[2021-01-13 00:51] goneall commented on #280
This error only happened in production and only intermittently.

After restarting the server, the problem seems to have gone away.

Looks like some problem in one of the threads on the spdx server.

Closing this until it reoccurs.

[2021-01-13 00:51] #280 closed

[2021-01-13 01:07] goneall opened #281 "Converting any file to JSON generates a warning"
To reproduce, convert one of the [example files in the SPDX spec](https://github.com/spdx/spdx-spec/tree/development/v2.2.1/examples) to JSON.

The following warning is generated:

[code]

[2021-01-13 01:10] goneall commented on #281
The same warning occurs with YAML.

This is likely an issue with the underlying Java tools library.

[2021-01-13 02:48] goneall commented on #281
Found the origin of the issue - a [Pull Request](https://github.com/spdx/spdx-java-jackson-store/pull/5/files) has been created to resolve this.

Once I create a release of the Java tools with this fix, I'll update the libraries in the online tools to fix.

[2021-01-17 19:46] goneall opened #282 "Unit test failure - api.tests.ConvertFileUploadTests converting XLS spreadsheet"
The following is the output from the unit tests.  This seems to have been failing since the last 2 upgrades of the SPDX Tools jar file.

[code]

[2021-01-17 19:47] goneall commented on #282
I did a little debugging on this and it doesn't matter if you change the file type from XLS to XLSX.  The files in the example folder verify OK.

[2021-01-17 22:11] goneall opened #284 "Unable to download all requirements"
When creating the docker image for the latest production version, the following error occurs:

[code]

[2021-01-17 22:13] goneall commented on #284
It looks like the release of Django we are using is no longer supported as of April 2020.  This may be related.

[2021-01-17 22:29] goneall commented on #284
From the [PwJWT release page](https://pypi.org/project/PyJWT/#history), it looks like release 2.0.1 was released just 4 hour ago - possibly related?

[2021-01-18 03:18] goneall commented on #284
Added [issue ](https://github.com/jpadilla/pyjwt/issues/607) to PwJWT.

[2021-01-18 19:51] goneall commented on #284
Turns out not to be related to the recent release of PwJWT.

I believe the cause of this issue is a change in the requirements file for [python-social-auth-core](https://github.com/python-social-auth/social-core).

Here's what I think is happening:
- spdx-online-tools requirements file has a dependency `social-auth-app-django==3.4.0`
- [social-auth-app-django](https://github.com/python-social-auth

[2021-01-18 19:57] goneall commented on #284
@rtgdk @Ugtan Any ideas how we can work around this issue?  It's holding up deployment of some changes people are waiting on.

Aside from upgrading to Python 3, is there anything we can do to get the old version of social-auth-app-django or is this something the social-auth-app-django maintainers/contributors would need to do?

It seems like the social-auth-app-django code should have a requiremen

[2021-01-19 22:43] goneall commented on #284
Resolved by adding a dependency to a specific social-auth-core in commit [c55b421](https://github.com/spdx/spdx-online-tools/pull/283/commits/c55b421b49b62b37d49b2a4cc35b2d19c86b9977)

[2021-01-19 22:43] #284 closed

[2021-01-20 19:20] goneall opened #285 "JPype error occurs in production"
The following error seems to occur after production has been running for some time.  Restarting the instance seems to resolve the issue.  Log files from the production instance attached.  Could not find anything related to this error.

[code]

[2021-01-20 19:20] goneall commented on #285
Second attempt at attaching the logs.
[prod-logs-20-1-2021.zip](https://github.com/spdx/spdx-online-tools/files/5844760/prod-logs-20-1-2021.zip)

[2021-01-24 07:50] rtgdk opened #287 "Merge app and api code under a common utils"
Right now, api `views.py` code is not updated with the changes in app `views.py`. There are some API which doesn't use anything from app source code. Not sure why, but it was a bad design decision to separate API and App code. We should have a common utility handling both API and app calls.

[2021-01-24 08:11] rtgdk commented on #282
From UI, it works fine. On debugging I found that the real issue is #287. I'll start on this fix.

[2021-02-02 11:36] #93 closed

[2021-02-02 11:36] #147 closed

[2021-02-02 11:44] rtgdk commented on #142
PLease reopen if we get that email again.

[2021-02-02 11:44] #142 closed

[2021-02-09 20:29] goneall opened #288 "Create a link back to the SPDX main website"
We're adding a link to the online tools from https://spdx.dev website.  It would be good to have a link to the main SPDX web page.  Perhaps the upper-left could be an SPDX logo with a link to the main web page.

[2021-02-10 19:13] goneall opened #289 "Timeout errors in production instance"
@kestewart reported seeing a "disconnect" error.  The following messages were found in the stderr logs:

[code]

The errors occurred while trying to validate or translate a rather large file.

[2021-02-12 07:11] hardikkat24 commented on #241
Hello @RishabhBhatnagar, I would like to work on this issue.

[2021-02-12 11:41] hardikkat24 commented on #287
@rtgdk Can you explain this issue in detail?

[2021-02-12 18:06] rtgdk commented on #287
If you look at the api code for validate/convert/compare, you will see that it is quite outdated as compared to similar app code. We need to have API also go through the same functions as app calls (Maybe have a common utility that both of them of calls, or redirect API calls to app in some way or any other idea you can think of). Maintaining and testing will become a lot easier once these are mer

[2021-02-13 09:27] hardikkat24 commented on #287
@rtgdk I would like to work on this. I'll take a look at both the app and api codebase and will discuss it here.
Thanks!

[2021-02-13 11:37] pombredanne opened #292 "Failed to submit new namespace"
I tried to submit a proper new license namespace request for https://scancode-licensedb.aboutcode.org/
![spdx-Screenshot from 2021-02-13 12-33-57](https://user-images.githubusercontent.com/675997/107848948-12396380-6df8-11eb-8d68-a57485927cad.png)

and it failed:
![SPDX Screenshot from 2021-02-13 12-34-21](https://user-images.githubusercontent.com/675997/107848954-19607180-6df8-11eb-9ebe-197ea47da

[2021-02-13 16:32] goneall commented on #292
Thanks @pombredanne for trying this out and the details.

I missed this in testing since I happened to have DJango admin.

I think the right solution for this is to not require Admin for adding organizations to the list.  Although, I don't remember all the details from the original workflow proposal for adding namespaces. @pombredanne let me know if you agree users should be able to add an organiz

[2021-02-13 16:33] goneall commented on #292
In addition to allowing users to add the appropriate organization, we should validate the user input and provide form validation rather than have the back-end catch the errors.

[2021-02-13 16:37] pombredanne commented on #292
I think so.

If you do not mind to add an org for me for now as:
- nexB inc.
that would be great and I would be able to move on to register my namespace at last ;)

[2021-02-13 17:08] goneall commented on #292
@pombredanne I attempted t add nexB as an organization and got an error.

I'll open a second issue to track the error.

I noticed this was actually adding a DJango managed organization which I do not think is necessary.  I'm wondering if we should just remove the organization field and requirement.

[2021-02-13 17:10] goneall opened #293 "Adding DJango organization causes exception"
Attempting to add an organization using the Admin ui (tools.spdx.org/admin) with organizatio name `nexB inc.` and organization ID `nexB` causes the following exception:

[code]

[2021-02-13 17:12] goneall commented on #293
It looks like the ID column is null - which I would assume is autogenerated.

This is a DJango utility which I believe does not involve application code.

The database was migrated and updated several times over the last couple of years - there may be some issue with the database?

[2021-02-13 17:12] goneall commented on #293
@rtgdk - Can you take a look?

[2021-02-13 17:17] goneall commented on #292
Added issue #293 for the DJango issue.

[2021-02-13 17:20] goneall commented on #292
@pombredanne Do feel free to suggest improvements/pull requests for this feature - I don't think it has had much user testing.  I'll try to help get it working, but Python is not my native language ;)

[2021-02-14 07:44] rtgdk commented on #293
@goneall Looks like a database/migration/postgres error for sure. Will take a look at the prod DB.

[2021-02-16 19:39] freegovinfo opened #294 "Error on new license request"
I just tried to submit a new license via https://tools.spdx.org/app/submit_new_license/ and got the following error> Please advise.

Unexpected error, please email the SPDX technical workgroup that the following error has occurred: Traceback (most recent call last): File "/spdx/src/app/views.py", line 172, in submitNewLicense statusCode = utils.createIssue(licenseAuthorName, licenseName, licenseId

[2021-02-21 09:48] rtgdk commented on #293
@goneall As we guessed it, this is a database migration issue with postgres.  I saw `db.sqlite3` file on the prod container which suggests that at some point in time, prod used sqlite3 as database and when we supplied the postgres credentials in settings.py, it started using postgres. This resulted in an error while migrating the schema from sqlite3 to postgres. The schema for organisationname id

[2021-02-21 17:16] goneall commented on #293
Thanks @rtgdk for the analysis.

If we want to update the database directly, we can [create the sequence](https://www.postgresql.org/docs/9.5/sql-createsequence.html) and update the ID constraint.

I'm pretty comfortable making the changes to the database, but I'm wondering if we should try migrating the database first.

I'll coordinate with you via email.

[2021-02-25 17:28] rtgdk opened #295 "Admin css doesn't load on production"
Getting ERR_ABORTED 404 (Not Found) for admin css files

[2021-02-25 17:43] goneall commented on #292
@pombredanne - @rtgdk and I were able to fix the database upgrade problem and we added NexB to the list of organizations.  Let us know if you run into any further issues.

I'll leave this issue open to track longer term solutions (such as not requiring admin access).

[2021-02-25 17:44] goneall commented on #293
This has not been resolved by updating the production database schema.

[2021-02-25 17:44] #293 closed

[2021-03-02 16:55] #241 closed

[2021-03-02 21:47] lkbhitesh07 opened #296 "Unable to register user on local machine"
Hello, I'm Just done with the local setup but when I try to register it's not working, it just redirects me to Github 404 error as the redirect_uri is from my local machine.
I'm not sure that if I'm pointing in the right direction but in the readme file, you have mentioned some steps in `GitHub Developer Sensitive Data` to have the `.env` file in the `src/src` folder, actually I'm not able to foll

[2021-03-02 21:54] lkbhitesh07 opened #297 "Instead of login using sign in and sign up."
Just want to propose a simple add-on. Whenever someone visits the site they see the login button, wouldn't it be great if we can have two buttons sign in and sign up to avoid confusion? Please do let me know your thoughts.
Thanks
@rtgdk @goneall

[2021-03-13 19:55] goneall commented on #297
@lkbhitesh07 Since we don't collect or store any information information on the user that would typically be in a sign-up form, I don't think we need the sign-up option typically found in other sites.

@rtgdk Any thoughts on this one?

[2021-03-15 17:12] rtgdk commented on #297
@goneall Totally agree with you. We use sign in with github just for submitting the license. For other tools, we don't require login - so having a sign up add-on is not useful.

[2021-03-15 17:44] goneall commented on #297
@lkbhitesh07 Based on the above comments, I'm suggesting we close this issue.  I do appreciate you reviewing the app and looking for improvements, however.

[2021-03-16 03:20] thisisshub commented on #296
- Did you setup the Github Oauth App like described [here](https://docs.github.com/en/developers/apps/creating-an-oauth-app)?
- and then setup the user in website's `Application` section int the `localhost:8000/admin` after signing in with your `superuser` account?
- Finally, follow the **Django Oauth Toolkit App** section mentioned in the [README](https://github.com/thisisshub/spdx-online-tools/b

[2021-03-17 22:18] nishantc7 opened #298 "rtgdk_python3 - Conflicting Dependencies"
@rtgdk
Trying to use rtgdk_python3 branch, which seems to be the one most recently updated python3 migration , it has conflicting dependencies
[code]

[2021-03-17 22:26] nishantc7 commented on #298
Should I create a PR updating requirements.txt setting `jpype1==1.0.1` if that's okay?

[2021-03-17 23:25] Ugtan opened #299 "Add a submit via mail functionality to license submittal"
I think it would be great to have a `submit the license via mail` button on the online tools when the license submittal feature doesn't work. I have noticed this a several number of times that if there is an error occurred during the submission of the license via the license submittal feature, the submitter gets an error message which asks them to contact the SPDX tech workgroup on the mail. So, t

[2021-03-17 23:25] Ugtan commented on #299
@goneall @rtgdk Let me know your thoughts on this issue.

[2021-03-17 23:42] Ugtan commented on #298
@nishantc7 The jpype versions 1.0 and 1.1 has memory leak problem in strings that's why the dependency was updated to version 1.2. The conflict you got will be fixed once https://github.com/spdx/spdx-license-matcher/pull/13 this PR is merged.

[2021-03-18 04:25] nishantc7 commented on #298
Oh, alright thanks for letting me know. Closing this now.

[2021-03-18 04:25] #298 closed

[2021-03-18 05:31] rtgdk commented on #298
@nishantc7 I merged that PR spdx/spdx-license-matcher#13 and release a new version https://github.com/spdx/spdx-license-matcher/releases/tag/v2.1 and updated requirements.txt in `rtgdk_python3` branch with this release build. Now you should not face this issue while running pip install.

[2021-03-18 15:49] goneall commented on #299
@Ugtan In general, I like this idea.  The only concern is having the email go to the entire tech team distribution list.

It would be better if any error would create an issue in the spdx-online-tools repo, then anyone watching the repo would get notified.  We could also tag the issue.

[2021-03-18 16:55] jlovejoy opened #300 "License Submission tool: changes to Comments field"
the legal team is getting a lot of submissions where the Comments field is empty. This is intended to be more than just a free-form comment field, so we discussed ways to make it more prominent and a better label.  To that end, can we change the following:
1) move Comments field to be at the top of the form, first field
2) change name to "Explain why this license meets the license inclusion princi

[2021-03-18 17:01] swinslow commented on #300
For @jlovejoy's question 4 above -- the link would go to https://github.com/spdx/license-list-XML/blob/master/DOCS/license-inclusion-principles.md

+1 to making this change, this would be excellent! I don't know the scope involved, but perhaps a good first issue for someone who's looking at contributing to the online tools?

[2021-03-18 21:37] Ugtan commented on #299
It would be great. +1 on that idea.

[2021-03-19 21:25] nishantc7 commented on #295
It seems to be loading for me in the main branch and the rtgdk_python3 branch. But I see that it does not load on the [hosted](https://tools.spdx.org/admin/login/?next=/admin/) url. Is there another way to reproduce this? After setting `DEBUG=False` it still works for me.

[2021-03-20 17:41] rtgdk commented on #295
You can host the website on Heroku (or any other free hosting service) for a production-like server. We don't expect these types of issues to be fixed by non-admin people but it will be good if you can identify the fix. There are a lot of other issues which you can work on if this doesn't work out. I think the network tab in this [url](https://tools.spdx.org/admin/login/?next=/admin/) will get som

[2021-03-20 19:44] nishantc7 commented on #233
Using `virtualenv -p python2 venv `
`source venv/bin/activate` as 2nd step in installation mentioned in readme for master branch should work until we move the branch to python3 because the default virtualenv is for python3. Views? @rtgdk

[2021-03-21 12:22] rtgdk commented on #233
@nishantc7 Not a big issue. Before the steps, it is clearly mentioned to install Python2. Also I think `virtualenv -p python2 venv` will work only if python2 is installed on the system.

Since we will be migrating to python3 soon, I don't think this change is needed.

[2021-03-21 12:33] rtgdk commented on #299
@goneall @Ugtan Great idea!
Having a tool that can raise an issue when the license submit feature/ license namespace submit feature fails in production is much needed. It will help us identify and fix issue quicker. Also, it will act as a way to add more tests to the functionality.We can also tell the user that the issue they encountered has been reported to the dev team - much easier than to the

[2021-03-21 12:40] rtgdk commented on #297
@lkbhitesh07 Closing this issue. Feel free to reopen if needed.

[2021-03-21 12:40] #297 closed

[2021-03-21 12:45] rtgdk commented on #296
@lkbhitesh07 Have a look at this issue if it helps - https://github.com/spdx/spdx-online-tools/issues/233

[2021-03-21 12:52] rtgdk commented on #117
Changes merged with https://github.com/spdx/spdx-online-tools/pull/146

[2021-03-21 12:52] #117 closed

[2021-03-21 18:35] goneall commented on #299
Since the user intends the data to be submitted to a public open source community, I don't think this would be an issue, but then I am not a lawyer (IANL).

@swinslow any concerns?

[2021-03-21 18:46] swinslow commented on #299
I guess I have a few thoughts:

I'm not particularly concerned from the legal side, as @goneall said the point is to submit to a public open source community, whether via GitHub issue or via email.

That said, if there's an error, I'd be more inclined to do something like, tell the user to copy and paste the contents of their submission into a GitHub issue in the license-list-XML repo. My concern

[2021-03-23 07:01] Purhan commented on #300
Hey there, I made a pull request:https://github.com/spdx/spdx-online-tools/pull/302
review will be appreciated :)

[2021-03-23 20:19] nishantc7 commented on #201
I am failing to reproduce this the error on my machine, has it been fixed?
[code]

[2021-03-24 03:42] goneall commented on #201
@nishantc7 Since you and @Ugtan can't reproduce this, it may be something specific to my environment and not an issue with the online tools

[2021-03-24 14:01] vcmgc27 opened #303 "Can SPDX report can be converted to SPDX 1.x"
Hi Team,

Is there any way to convert SPDX 2.2 to SPDX 1.x?

Please direct me if there is an option.

Thanks for your help

[2021-03-24 20:13] nishantc7 commented on #200
@rtgdk Could you please help me out, I was trying to work on this but can't seem to work it through. I tried logging in first using socialauth, but the webdriver still can't locate the archive button. It should work once logged in right?

[2021-03-24 22:52] goneall commented on #303
@vcmgc27 I'm not aware of any command line or online utility that will down-convert versions.

I believe you can write a utility if you're familiar with Java using the older version of the [SPDX Tools](https://github.com/spdx/tools).  You would open the "from file" with the method https://github.com/spdx/tools/blob/d5c23fd9fe47f6732239764204f27d1edae6eb94/src/org/spdx/rdfparser/SPDXDocumentFactory

[2021-03-25 17:22] rtgdk commented on #200
@nishantc7 Can you check the output html from selenium? If selenium is not able to find, most likely either the page is not detecting signed in and showing the default page. From code looks like we need to be github logged and auuthorised. You can mock both of these. Also, the archive button will only be present if the license gets added, confirm that the html shows the license added by the test.

[2021-03-25 17:38] rtgdk commented on #201
@goneall Did we see this test failed on production?
@nishantc7 Did you setup github and other tokens before running this test?

[2021-03-25 18:00] nishantc7 commented on #201
@rtgdk Yes I did, it does not skip if we export github access token, id and username before testing.

[2021-03-25 18:08] rtgdk commented on #299
@swinslow That makes sense. We are discussing a possibility to have a tool that will automatically raise the issue on author's behalf on our repo (not to the mailing list) along with their submission form and the error logs. This will help us -
1. Raise the license request even if online submission failed
2. Give the author a way to track their submission request ( from github issue)
3. Improve ou

[2021-03-25 18:10] rtgdk commented on #201
@nishantc7 Then I think this is not an issue. From the error above when the issue was raised, looks like Github token was set to None.

[2021-03-25 22:53] Ugtan commented on #299
@rtgdk Well put. This would help the developers/ maintainers of the repository to quickly track the issue and fix it asap. We can further use the data in our test cases to ensure such failures won't happen in the future as mentioned by @rtgdk.

[2021-04-09 16:32] goneall opened #306 "Extremely large SPDX files times out"
Suggest a short term solution where we have a size limit on SPDX documents for validate, translate, and convert then produce an error and suggest they use the command line tool available at github.com/spdx/tools-java

Longer term, we could do some kind of batch processing approach and not suffer the processing timeouts.

[2021-04-12 08:24] MarkusTe opened #307 "Transforming samples from spdx-spec via tools.spdx.org/app/convert lead to discrepancies"
Hello,

that looks strange.

1. I've taken the [sample files of the spec](https://github.com/spdx/spdx-spec/tree/development/v2.2.1/examples).
2. Then I've [transformed](https://tools.spdx.org/app/convert/) them, e.g., YAML to RDF/XML.
3. Then compared the original with the transformation, e.g., sample RDF/XML to the transformed RDF/XML.
4. In all cases, the originals differ from the transformed f

[2021-04-12 16:51] goneall commented on #307
@MarkusTe Thanks for logging the issue.

The RDF/XML format does not preserve any order.  This is both an issue with the [RDF/XML spec](https://www.w3.org/TR/rdf-syntax-grammar/) and the underlying [Jena RDF](https://jena.apache.org/) code.  I would not expect any order preservation for RDF/XML since it would require significant effort.  If anyone is interested in researching this further and prop

[2021-04-13 07:24] MarkusTe commented on #307
The comparison seems to show no relevant difference in content. So the difference in size cannot be explained, at least by me.
We aim to use YAML a lot, so maybe I will raise an improvement issue for Jackson.

[2021-04-13 15:51] goneall commented on #307
@MarkusTe Thanks for doing the comparisons.  Based on the results, I wouldn't worry about the difference in size.

Yes - please suggest any improvements to the Jackson store used for YAML serialization - that would benefit the JSON and XML formats as well.

[2021-04-14 21:01] pombredanne commented on #292
@goneall @rtgdk thank you ++
I tried again and I still get this:

[2021-04-14 21:31] goneall commented on #292
@pombredanne Thanks for the second attempt and patience.  Looks like the migration problems have not been completely solved.  I'll take a look at the database and see if I can fix it.

[2021-04-14 23:59] goneall commented on #292
@pombredanne I believe I fixed this issue.  I just submitted a test namespace and the request did not show any exceptions.
 I did not have time to verify the entire function worked end to end, so there still may be some issues.

Would you mind giving it another try?

BTW - The issues are due to a migration problem with the database when we moved from one AWS instance to another.  I did look throug

[2021-04-15 13:04] pombredanne commented on #292
@goneall Thank you ++
It works: https://tools.spdx.org/app/license_namespace_requests/2/
awesome!

[2021-04-15 13:04] #292 closed

[2021-05-07 00:14] ghost opened #308 "Error when submitting a license."
Error when submitting a license, now all my progress is gone. oh well.

`Unexpected error, please email the SPDX technical workgroup that the following error has occurred: Traceback (most recent call last): File "/spdx/src/app/views.py", line 168, in submitNewLicense licenseRequest.save() File "/usr/local/lib/python2.7/site-packages/django/db/models/base.py", line 808, in save force_update=force_u

[2021-05-19 06:14] PhilippWendler commented on #285
I just got the same error on https://tools.spdx.org/app/check_license/:
[code]

[2021-05-19 16:46] goneall commented on #285
I just restarted the instance which should resolve this issue for now - please add a comment to this issue if it reoccurs

[2021-05-19 16:47] goneall commented on #285
We have a major upgrade planned for this summer which may help resolve this issue long term - until then, just keep adding to this issue if you run into this problem and I'll restart the instance

[2021-05-29 09:27] rtgdk opened #309 "[Future Work] To track improvements"
- [ ] Lint code
- [ ] Have a base reusable Django app which contains the core functionality. webapp and api app built on top of this base app

[2021-06-11 17:06] ianling opened #310 "Update Java tools library"
I recently submitted https://github.com/spdx/Spdx-Java-Library/issues/53 (thanks a lot for working on it!)

The reason I submitted that issue was actually due to our SPDX files failing to validate here. Now that the code change for the above issue has been merged, would it be possible to update the Django application to use the new version of the Java library?

Thanks!

[2021-06-11 21:31] goneall commented on #310
@ianling I'm working on a new release of the libraries - hoping to finish within the next 3-4 days.  I'll update the online tools once it is complete.

[2021-06-14 21:31] ianling commented on #310
Closing, thanks a lot @goneall !

[2021-06-14 21:31] #310 closed

[2021-06-16 04:10] goneall commented on #310
@ianling I just deployed the version to https://tools.spdx.org

Let me know if you run into any issues.

[2021-06-22 15:36] dkruszew opened #317 "Validate tool unable to handle large SBOMS"
It appears, to be confirmed, that the SBOM validate tools are unable to handle large SBOMs (>1000 nodes).

![image](https://user-images.githubusercontent.com/54693931/122954641-7800a380-d334-11eb-8a8c-899ee94dff58.png)

A problematic file is attached to this issue. More examples are also available with same error.

[keycloak-13.0.1.zip-too-big.txt](https://github.com/spdx/tools/files/6695626/keycl

[2021-06-25 01:01] goneall commented on #289
Duplicate of #306 - Closing this one since the later has more specific suggestions

[2021-06-25 01:01] #289 closed

[2021-06-25 01:05] goneall commented on #306
@dkruszew reported the same issue and included the attached file as a reference.

In looking at the file, it is quite large at 122,244 lines.

As a work-around, the latest commandline version of the SPDX online tools from the [release page](https://github.com/spdx/tools-java/releases/tag/v1.0.1) and run locally.

I tried this and it took 1 minute 46 seconds on a laptop.  This is processing 1,153 l

[2021-06-25 01:05] goneall commented on #317
Now that I moved this over, I realize this is a duplicate of #306

I'll copy over some of the comments and close this issue.

[2021-06-25 01:05] #317 closed

[2021-07-13 00:44] goneall commented on #317
I did a some experimentation and found the issue is really https://github.com/spdx/Spdx-Java-Library/issues/40

If I comment out the check for removing in-use SPDX ID's, the time it take to verify keycloak-13.0.1.zip-too-big goes from 1:42 down to less than 6 seconds on my machine - a 16X improvement in performance.

[2021-07-13 01:42] custJC commented on #232
Change the code in the file:
The original code is:  PIP install git+https://github.com/snkas/exputilpy.git@v1.6 | | exit 1
                                  PIP install git+https://github.com/snkas/networkload.git@v1.3 | | exit 1
To: PIP install git+git://github.com/snkas/exputilpy.git@v1.6 | | exit 1
      PIP install git+git://github.com/snkas/networkload.git@v1.3 | | exit 1

[2021-07-15 14:32] goneall commented on #307
I'm going to go ahead and close this issue since the improvements to the jackson store are now deployed

[2021-07-15 14:32] #307 closed

[2021-07-20 18:38] goneall commented on #306
Resolved with PR #318 and PR #319

[2021-07-20 18:38] #306 closed

[2021-07-22 04:26] Ugtan commented on #218
@rtgdk I don't think so it would be a good idea to use binaryField, I know the number of screenshots would be less but considering the warning on the Django official docs reference [here](https://docs.djangoproject.com/en/3.1/ref/models/fields/#binaryfield). Also, the StackOverflow answer says that we might face some issues related to caching if we use binaryField [reference](https://stackoverflow

[2021-07-23 00:18] anthonyronda opened #321 "GitHub Issue template for spdx/license-list-XML"
On the 2021-07-22 SPDX-legal call, I suggested an issue template for the license-list-XML repo. This would encourage issue submitters to provide all necessary information just like what's requested in the Submit New License tool. Currently, there are a number of submitters who are likely unaware of the submission requirements, and omit crucial information.

## Option 1 - button that redirects issu

[2021-08-04 18:35] ralphie79 opened #322 "Warning messages misspell 'Anonymous'"
The warning message generated during validation of an SPDX document misspells the word 'Anonymous' as 'Anonomous' as shown in the following screen capture:
![image](https://user-images.githubusercontent.com/15354043/128235764-9d0090e3-0881-48c0-888e-af332da70277.png)

[2021-08-04 20:22] goneall commented on #322
Thanks @ralphie79 - Just made a PR to fix this in one of the dependent libraries: https://github.com/spdx/Spdx-Java-Library/pull/58/files

I'll keep this issue open until we update the online tools with the latest library

[2021-08-04 21:46] #322 closed

[2021-08-07 07:33] rtgdk commented on #218
@Ugtan I think we should be good. Having extra columns in sql is fine. We don't expect to have a lot of these. Keeping a separate repo is quite a hassle to setup.

[2021-08-08 09:27] Ugtan commented on #218
@rtgdk Okay perfect.

[2021-08-16 05:53] SamuraiAku opened #325 "Online validation of JSON example file in spdx-spec fails"
I tried running the [official JSON example file](https://github.com/spdx/spdx-spec/blob/v2.2/examples/SPDXJSONExample-v2.2.spdx.json)  through the online validator at tools.spdx.org and it fails.  The error that I get is:

Looking through the JSON file it appears most likely that the field it is looking for is called "spdxDocument".  See an [issue in spdx-spec](https://github.com/spdx/spdx-spec/is

[2021-08-16 06:06] SamuraiAku opened #326 "Conversion of tag-value to JSON creates a field not in the schema"
When I run the [official tag-value example file](https://github.com/spdx/spdx-spec/blob/v2.2/examples/SPDXTagExample-v2.2.spdx) through the online converter tool to JSON, it turns the tag "DocumentNamespace" into the JSON field "documentNamespace".  Which makes a lot of sense, except that field does not exist in the [JSON schema](https://github.com/spdx/spdx-spec/blob/v2.2/schemas/spdx-schema.json

[2021-08-16 17:07] goneall commented on #325
@SamuraiAku Thanks for reporting the issue.

The reason the v2.2 version of the JSON example file is failing is the top level `"Document"` on line 2 which was reported as this [issue ](https://github.com/spdx/spdx-spec/issues/400) in the spec repo.

This was removed in the
 [later version of the JSON example](https://github.com/spdx/spdx-spec/blob/development/v2.2.1/examples/SPDXJSONExample-v2.2.s

[2021-08-16 17:13] goneall commented on #326
@SamuraiAku I agree the schema and tools, and examples should be consistent.

Note that the development/v2.2.1 branch is more actually the latest set of examples in the spec repo.

I'm going to move this issue to the SPDX spec as I think the inconsistency should be resolved by updating the schema to include the documentNamespace.

[2021-08-19 21:09] npmccallum opened #327 "Donate the SPDX header checker to this org?"
I know that this issue doesn't really belong to this repo. But it seemed the best fit for my proposal.

[Enarx](https://github.com/enarx) is a [Linux Foundation](https://www.linuxfoundation.org) project under the auspices of the [Confidential Computing Consortium](https://confidentialcomputing.io). We have developed a GitHub Action which scans source code files in a software repo and highlights an

[2021-08-19 23:43] goneall commented on #327
@npmccallum thanks for developing this tool.  It does seem to fit the mission for SPDX and this repo.  I'll take a look and bring this up to the SPDX tech tools group which part of part Automated Compliance Tooling (ACT) project.  There is also an Free Software Foundation Europe project which has a similar mission is [REUSE](https://reuse.software/).

@kestewart @zvr - any thoughts?

[2021-08-21 17:27] goneall opened #328 "Add clean up disk space feature"
The application is taking an increasing amount of disk space on the production instance.

Most of the space is consumed in the /media folder - /media/AnonymousUser being the largest at 2GB.

Suggest we add some type of regular clean-up of the media folders.  This could be added into the app itself or a separate CRON job we could install via the Docker files.

[2021-08-21 17:29] goneall commented on #325
Since we have the JSON schema and format issues covered in the [SPDX Spec repo issues](https://github.com/spdx/spdx-spec/issues), I'm going to close this issue.

[2021-08-21 17:29] #325 closed

[2021-08-23 16:03] rtgdk commented on #328
The folder stores the license files uploaded by the user (for validating/comparing/etc). Old files are generally not needed. When user are not logged in, the files are uploaded to `AnonymousUser`. I think cron job should delete more than 10 days old files. The api also creates some files which are returned to the user for downloading.

[2021-09-17 08:41] sschuberth opened #329 "Validation accepts invalid SPDX YAML files"
For testing, I did download https://github.com/spdx/spdx-spec/blob/3d156919a06c07781bd47dc26c75efcfc9df21cd/examples/SPDXYAMLExample-2.2.spdx.yaml and changed `relationships` (plural) to `relationship` (singular) in line 636:

https://github.com/spdx/spdx-spec/blob/3d156919a06c07781bd47dc26c75efcfc9df21cd/examples/SPDXYAMLExample-2.2.spdx.yaml#L363

This deliberately renders the syntax invalid. Ho

[2021-09-17 17:31] goneall commented on #329
Good catch @sschuberth - I'll transfer this issue to the https://github.com/spdx/spdx-java-jackson-store repository which implements the JSON validation.

[2021-10-27 15:02] rjb4standards opened #330 "Online tool throwing error during validate"
Class org.spdx.tools.SpdxToolsHelper$SerFileType not found

I tried tweaking the SPDX version to get past this i.e. 2.2, 2.3 but neither one worked.

Any insights you can provide will be appreciate. Much appreciate your help with this.

Here is the SPDX that I suspect is blowing up:
FileName: activemq-broker-5.8.0.jar
SPDXID: SPDXRef-e1053a26-ef7c-4562-a839-9876b5ce597c
FileContributor: Im the Lic

[2021-11-06 18:13] goneall commented on #330
@rjb4standards I wasn't able to reproduce the issue

Can you give it another try and let me know if it still happens?

From the error message, this may be another form of a known intermittent problem with the python/java bridge, issue #285

I'll attached the file version I used to try to duplicate - it should just be a copy/paste of the above.
[validateerror.spdx.txt](https://github.com/spdx/spdx-

[2021-11-06 18:20] rjb4standards commented on #330
Will do, Gary.

[2021-11-06 18:29] rjb4standards commented on #330
Just tested - everything is working fine now. Thanks...

[2021-11-06 18:29] #330 closed

[2021-11-06 18:30] rjb4standards commented on #330
Test succeeded.

[2021-11-26 10:10] elear opened #332 "md5 not supported in JSON validator"
It's in the schema, but not recognized as an enumeration.  I'd submit a PR but I don't know which file to look at.

[2021-11-26 16:17] goneall commented on #332
It looks like MD5 is supported in the schema:

https://github.com/spdx/spdx-spec/blob/2be70fcdf33c7e54290c17924a2b471d87afa0f0/schemas/spdx-schema.json#L165

Could this be an issue of the enum being case sensitive?

@elear If it is not due to case sensitive enums, you could upload an example file that is not validating?

[2021-11-26 17:48] elear commented on #332
My apologies.  It is indeed a case problem.

[2021-11-26 17:48] #332 closed

[2021-12-03 23:30] kestewart opened #333 "Translating from TagValue to XML giving weird error"
An example (in tag/value), validated, however when I tried to convert it to XML,  it gave the message:
Analysis exception processing SPDX file: Document
Describes is not an array - invalid JSON format.

I've mailed the source file in question to @goneall, and will share with anyone else interested.

[2021-12-04 18:44] goneall commented on #333
@kestewart Thanks for reporting the issue.

I was able to duplicate this in the online tools.  It seems to only be an error for the XML format - JSON works fine.  This is rather curious since the JSON and XML formats share much of the same code.

I'm also not able to duplicate the issue using the [command line tool](https://github.com/spdx/tools-java/releases) which also shares the same code.

I'l

[2021-12-04 19:32] goneall commented on #333
I've narrowed the problem down.  It looks like the XML produced in the conversion process is not valid due to single element arrays being converted to single value properties.

This is an issue in the Jackson based serializer/deserializer.  I'm transferring the issue to the repository with the issue.

[2021-12-09 18:27] alandtse commented on #285
FYI, just ran into this issue today on check_license.

[2021-12-10 15:52] goneall commented on #285
@alandtse I just restarted the server - it should now be working.

[2022-01-20 10:02] SidharajYadav commented on #58
How i can contribute
please guide me
I like to solve this problem

[2022-01-20 10:03] SidharajYadav commented on #24
How i can contribute
please guide me
I like to solve this problem

[2022-01-20 10:04] SidharajYadav commented on #282
How i can contribute
please guide me
I like to solve this problem

[2022-01-20 10:06] SidharajYadav commented on #202
How i can contribute
please guide me
I like to solve this problem

[2022-02-02 02:44] jlovejoy opened #336 "SPDX License List submission tool: add unknown option to OSI approved question"
Can we add "unknown" or "don't know" to the drop-down options for the OSI-approved question?

[2022-02-03 17:23] jlovejoy commented on #336
editing this issue to include 3 minor updates to submission GUI as per discussion on Feb 3 legal call

- [ ] add "unknown" to drop-down options for OSI Status question
- [ ] add note or pop-up on license steward/author question to put "unknown" if submitter doesn't know
- [ ] remove email address question (not really needed)

[2022-02-03 17:24] jlovejoy commented on #336
@johnmhoran from legal team may look into this (may need a bit of pointers from @goneall  to get started)

[2022-02-03 18:25] johnmhoran commented on #336
@jlovejoy Confirming our discussion in this morning's legal team call, I'd like to help with this if my skillset permits.  ;-]  A quick look suggests the tool uses a combo of Python (maybe including Django?) and Java ( with which I have no familiarity atm).  I suspect I might need some guidance on how to clone and get the tool working locally (especially what Java-related installations/inports are

[2022-02-04 04:21] goneall commented on #336
@johnmhoran Thanks for the help!

This particular issue should only involve the Python/DJango code.

I can help you get things setup, but you may want to wait for @rtgdk to finish merging a bunch of code.

@rtgdk - Let us know when the Python 3 code is merged.

[2022-02-04 07:13] johnmhoran commented on #336
That sounds like a good idea @goneall , and thank you!  Looking forward to working on this issue.

I noticed that the [README](https://github.com/spdx/spdx-online-tools#requirements-linuxdebianubuntu) refers to Python 2.6+ and 2.7.  Has the project already been updated from 2.x to 3.6 (or even higher), or is that perhaps what the upcoming merge is tackling?  (I couldn't tell from looking at the op

[2022-02-04 16:58] goneall commented on #336
@johnmhoran Thanks again for helping out!

That's exactly what's being tackled.  It's a rather significant change.  There is a branch @rtgdk is working on with the changes: rtgdk_python3

[2022-02-14 15:53] seabass-labrax opened #337 "Namespace requests aren't marked as such in generated issue"
As seen in https://github.com/spdx/license-list-XML/issues/1414, license **namespace** requests produce GitHub issues which are indistinguishable from those made by normal license requests.

The generated GitHub issues should specify that the request is for a license namespace; for instance, the issue title:

could become:

[2022-02-21 12:59] npmccallum commented on #327
@goneall @kestewart @zvr Do you have interest in this?

[2022-02-21 18:26] goneall commented on #327
I'll send an update to SPDX tech list and if there are no general objections by next week, we can go ahead and move it to SPDX.

[2022-02-21 19:38] swinslow commented on #327
+1 from me to moving this over, this looks very useful!

I agree with @zvr, I think it'd be appropriate for the destination repo to have a name which clarifies it's checking headers and/or licenses. `check-headers-action` seems fine to me.

@npmccallum thank you and the Enarx team for developing and contributing this!

[2022-03-09 17:11] makdataproj opened #338 "Some example SPDX files are not working with the SPDX validation tool"
The online tool https://tools.spdx.org/app/validate/ is getting an error with the example spdx file:
https://raw.githubusercontent.com/spdx/spdx-examples/master/example7/spdx/example7-golang.spdx.json:

**Analysis exception processing SPDX file: string is not a valid SPDX class**

Just curious if this issue is being looked into?

[2022-03-09 21:51] goneall commented on #338
@makdataproj Thanks for for reporting this issue.  It was not being looked into.

I traced the issue down to a dependent library and created the following issue:

https://github.com/spdx/spdx-java-jackson-store/issues/30

I'll leave this issue open to track updating the dependencies once the issue is resolved.

[2022-03-13 05:12] Apoorvgarg-creator commented on #288
@goneall @rtgdk  Can I work on this issue?

[2022-03-13 17:42] rtgdk commented on #288
@Apoorvgarg-creator Yes, you can pick this up.

[2022-03-16 05:03] Apoorvgarg-creator commented on #288
@rtgdk Thank you. I have started working on this, Will make a PR as soon as possible.

[2022-03-26 19:36] goneall opened #339 "Migration files appear to be stale for Python 3 branch"
When running manage.py migrate on the python3 branch, I recieve an error indicating the .pyc files are stale:

[code]

[2022-03-26 19:41] goneall commented on #339
This was caused by stale .pyc files in my migrate directory - once they were deleted, everything worked fine.  Closing the issue.

[2022-03-26 19:41] #339 closed

[2022-03-26 20:05] goneall opened #341 "Python3 Unit Test Failure test_generate_xml"
Below is the error reported by the unit test:

[code]

[2022-03-26 20:07] goneall opened #342 "Python3 Unit Test Error test_tree_editor_text"
The following unit test error occured on the Python 3 branch:

[code]

[2022-03-26 20:09] goneall opened #343 "Python3 Unit Test failure test_submitlicense_api_with_invalid_fields"
The following unit test error occured on the Python 3 branch:

[code]

[2022-03-26 20:10] goneall opened #344 "Python3 Unit Test Failure test_submitlicense_api_with_invalid_code"
The following unit test error occured on the Python 3 branch:

[code]

[2022-03-27 18:04] rtgdk opened #346 "[Python3] Option to check license diff on submit license page before submitting"
A new tool - License Diff - was recently added for users to check existing licenses which matches the license text. Also, a link on submit license page was provided. After submitting license, we match the text with licenses which shows the matches if any. The code to check matches and generate diff is common among both the pages. It would be a good idea to give users an option to check the license